<div class="row">
    <div class="col-md-12 mar-b">
        <div class="portlet box green ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Process Items
                </div>
                <div class="tools">
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form  class="form-horizontal" name="myForm">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-5 control-label">Enter Process Items Name: <span class="error">&nbsp;*</span>
                            </label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" ng-model="formData.processItemName" required autofocus>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-5 control-label">Rate: <span class="error">&nbsp;*</span>
                            </label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" name="rate" pattern="[\-\+]?[0-9]*(\.[0-9]+)?" ng-model="formData.rate" required>
                                <span class="unit">{{processCatUom}}</span>                                
                                <span class="error" ng-show="myForm.rate.$invalid && myForm.rate.$dirty">Please enter a number or floating point number</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-circle green" ng-if="showSaveBtn" ng-click="addOrEditProcessItem(formData,processCat)" ng-disabled ="myForm.$dirty && myForm.$invalid || myForm.$pristine">Save</button>
                                 <button type="submit" class="btn btn-circle green" ng-if="showEditBtn" ng-click="addOrEditProcessItem(formData)" ng-disabled ="myForm.$dirty && myForm.$invalid || myForm.$pristine">Update</button>
                                <button type="button" class="btn btn-circle grey-salsa btn-outline" ng-click="cancelModal()">Cancel</button>
                            </div> 
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
    </div>
</div>