<div class="row">
    <div class="col-md-12 mar-b">
        <div class="portlet box green ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Process Type
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form class="form-horizontal" name="myForm">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-4 control-label">Process Type Name: <span class="error">&nbsp;*</span></label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" ng-model="formData.processTypeName" autofocus required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Process Category: <span class="error">&nbsp;*</span> </label>
                            <div class="col-md-5">
                                <select class="form-control" ng-options="pc.processCatName for pc in processCats track by pc._id" ng-model="selectedProcessCat" required>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 ">
                                <b>Rate -</b>
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Multiplication Factor: <span class="error">&nbsp;*</span></label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" ng-model="formData.rate.mulFact">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">UOM: <span class="error">&nbsp;*</span></label>
                            <div class="col-md-5">
                                <select class="form-control" ng-options="u.uomName for u in uoms track by u._id" ng-model="selectedRateMUlFactUom" required>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2">
                                <b>Quantity -</b>
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Linkedkey Value:</label>
                            <div class="col-md-5">
                                <select class="form-control" ng-model="formData.quantity.linkedKeyValue">
                                    <option></option>
                                    <option>Perimeter</option>
                                    <option>SMA</option>
                                    <option>SA</option>
                                    <option>Wt</option>
                                    <option>Nos</option>
                                    <option>Hrs</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">UOM:  <span class="error">&nbsp;*</span></label>
                            <div class="col-md-5">
                                    <select class="form-control" ng-options="u.uomName for u in uoms track by u._id"
                                    ng-model="selectedQuaLinkedKeyUom" required>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Multiplication Factor:</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" ng-model="formData.quantity.mulfact">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Utilization:&nbsp;(%)</label>
                            <div class="col-md-5">
                                <input type="text" name="utilization" class="form-control" pattern="[\-\+]?[0-9]*(\.[0-9]+)?" ng-model="formData.quantity.utilization">
                                <span class="error" ng-show="myForm.utilization.$invalid && myForm.utilization.$dirty">Please enter a number or floating point number</span>
                                <span class="unit">%</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Contegency or Wastage:&nbsp;(%)</label>
                            <div class="col-md-5">
                                <input type="text" name="wastage" class="form-control" pattern="[\-\+]?[0-9]*(\.[0-9]+)?" ng-model="formData.quantity.contengncyOrWastage">
                                <span class="error" ng-show="myForm.wastage.$invalid && myForm.wastage.$dirty">Please enter a number or floating point number</span>
                                <span class="unit">%</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Final UOM:  <span class="error">&nbsp;*</span></label>
                            <div class="col-md-5">
                                    <select class="form-control" ng-options="u.uomName for u in uoms track by u._id"
                                    ng-model="selectedQuaFinalUom" required >
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-circle green" ng-show="showSaveBtn" ng-click="addOrEditProcessType(formData,selectedProcessCat._id,selectedRateMUlFactUom._id,selectedQuaLinkedKeyUom._id,selectedQuaFinalUom._id)" ng-disabled ="myForm.$dirty && myForm.$invalid || myForm.$pristine">Save</button>
                                <button type="submit" class="btn btn-circle green" ng-show="showEditBtn" ng-click="addOrEditProcessType(formData,selectedProcessCat._id,selectedRateMUlFactUom._id,selectedQuaLinkedKeyUom._id,selectedQuaFinalUom._id)" ng-disabled ="myForm.$dirty && myForm.$invalid || myForm.$pristine">Update</button>
                                <button type="button" class="btn btn-circle grey-salsa btn-outline" ng-click="cancelModal()">Cancel</button>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
    </div>
</div>