<div class="row">
    <div class="col-md-12 mar-b">
        <div class="portlet box green ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Process Type
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form class="form-horizontal" name="myForm">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-4 control-label">Process Type Name:
                                <span class="error">&nbsp;*</span>
                            </label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" ng-model="formData.processTypeName" autofocus required>
                            </div>
                        </div>
                        <div class="form-group" ng-show="formData.showMulFact">
                            <label class="col-md-4 control-label">Process Category:
                                <span class="error">&nbsp;*</span>
                            </label>
                            <div class="col-md-5">
                                <select class="form-control" ng-options="pc.processCatName for pc in processCats track by pc._id" ng-model="selectedProcessCat"
                                    ng-required="true">
                                </select>
                                <span class="error">{{processCategory}}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 ">
                                <b>Rate -</b>
                            </label>
                            <div class="col-md-4 text-right">Calculations &nbsp;&nbsp;&nbsp;&nbsp;<b>OFF</b></div>
                            <div class="col-md-2" style="margin-left: -20px;">
                                <div class="btn-switch" ng-class="{'btn-switch--on':formData.showRateFields}" ng-model="formData.showRateFields"
                                    ng-click="setToggleForRate(formData)">
                                    <div class="btn-switch-circle" ng-class="{'btn-switch-circle--on':formData.showRateFields}" ng-model="formData.showRateFields"
                                        ng-click="setToggleForRate(formData)"></div>
                                </div>
                            </div>
                            <div class="col-md-4 text-left" style="margin-left: -50px;"> <b>ON</b></div>
                        </div>
                        <div class="form-group" ng-show="formData.showMulFact">
                            <label class="col-md-4 control-label">Multiplication Factor:
                                <span class="error">&nbsp;*</span>
                            </label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" ng-model="formData.rate.mulFact" required>
                                <span class="error">{{rateMultiplicationFactor}}</span>
                            </div>
                            
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">UOM:
                                <span class="error">&nbsp;*</span>
                            </label>
                            <div class="col-md-5">
                                <select class="form-control" ng-options="u.uomName for u in uoms track by u._id" ng-model="selectedRateMUlFactUom" required>
                                </select>
                                <span class="error">{{rateUom}}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2">
                                <b>Quantity -</b>
                            </label>
                            <div class="col-md-4 text-right">Calculations &nbsp;&nbsp;&nbsp;&nbsp;<b>OFF</b></div>
                            <div class="col-md-2" style="margin-left: -20px;">
                                <div class="btn-switch" ng-class="{'btn-switch--on':formData.showQuantityFields}" ng-model="formData.showQuantityFields"
                                    ng-click="setToggleForQuantity(formData)">
                                    <div class="btn-switch-circle" ng-class="{'btn-switch-circle--on':formData.showQuantityFields}" ng-model="formData.showQuantityFields"
                                        ng-click="setToggleForQuantity(formData)"></div>
                                </div>
                            </div>
                            <div class="col-md-4 text-left" style="margin-left: -50px;"><b>ON</b></div>
                        </div>
                        <div class="form-group" ng-show="formData.showFields">
                            <label class="col-md-4 control-label">Linkedkey Value:
                                <span class="error">&nbsp;*</span>
                            </label>
                            <div class="col-md-5">
                                <select class="form-control" ng-model="formData.quantity.linkedKeyValue" required>
                                    <option></option>
                                    <option>Perimeter</option>
                                    <option>SMA</option>
                                    <option>SA</option>
                                    <option>Gwt</option>
                                    <option>Nwt</option>
                                    <option>Nos</option>
                                    <option>Hrs</option>
                                </select>
                                <span class="error">{{linkedkeyValue}}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">UOM:
                                <span class="error">&nbsp;*</span>
                            </label>
                            <div class="col-md-5">
                                <select class="form-control" ng-options="u.uomName for u in uoms track by u._id" ng-model="selectedQuaLinkedKeyUom" required>
                                </select>
                                <span class="error">{{quantityUom}}</span>
                            </div>
                        </div>
                        <div class="form-group" ng-show="formData.showFields">
                            <label class="col-md-4 control-label">Multiplication Factor:
                                <span class="error">&nbsp;*</span>
                            </label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" ng-model="formData.quantity.mulfact" required>
                                <span class="error">{{quantityMultiplicationFactor}}</span> 
                                
                            </div>
                        </div>
                        <div class="form-group" ng-show="formData.showFields">
                            <label class="col-md-4 control-label">Utilization:&nbsp;(%)
                                <span class="error">&nbsp;*</span>
                            </label>
                            <div class="col-md-5">
                                <input type="text" name="utilization" class="form-control" pattern="[\-\+]?[0-9]*(\.[0-9]+)?" ng-model="formData.quantity.utilization">
                                <span class="error">{{quantityUtilization}}</span> 
                                <span class="error" ng-show="myForm.utilization.$invalid && myForm.utilization.$dirty">Please enter a number or floating point number</span>
                                <span class="unit">%</span>
                            </div>
                        </div>
                        <div class="form-group" ng-show="formData.showFields">
                            <label class="col-md-4 control-label">Contegency or Wastage:&nbsp;(%)
                                <span class="error">*</span>
                            </label>
                            <div class="col-md-5">
                                <input type="text" name="wastage" class="form-control" pattern="[\-\+]?[0-9]*(\.[0-9]+)?" ng-model="formData.quantity.contengncyOrWastage" required>
                                <span class="error">{{quantityWastage}}</span>
                                <span class="error" ng-show="myForm.wastage.$invalid && myForm.wastage.$dirty">Please enter a number or floating point number</span>
                                <span class="unit">%</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Final UOM:
                                <span class="error">&nbsp;*</span>
                            </label>
                            <div class="col-md-5">
                                <select class="form-control" ng-options="u.uomName for u in uoms track by u._id" ng-model="selectedQuaFinalUom" required>
                                </select>
                                <span class="error">{{finalUom}}</span>
                            </div>
                        </div>
                    </div>
                    <!-- ng-disabled="myForm.$dirty && myForm.$invalid || myForm.$pristine" -->
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-circle green" ng-show="showSaveBtn" ng-click="addOrEditProcessType(formData,selectedProcessCat._id,selectedRateMUlFactUom._id,selectedQuaLinkedKeyUom._id,selectedQuaFinalUom._id)"
                                >Save</button>
                                <button type="submit" class="btn btn-circle green" ng-show="showEditBtn" ng-click="addOrEditProcessType(formData,selectedProcessCat._id,selectedRateMUlFactUom._id,selectedQuaLinkedKeyUom._id,selectedQuaFinalUom._id)">Update</button>
                                <button type="button" class="btn btn-circle grey-salsa btn-outline" ng-click="cancelModal()">Cancel</button>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
    </div>
</div>