<div class="row">
    <div class="col-md-3">
        <ul class="tree">
            <li class="mainLi">
                <input type="checkbox" id="c5" />
                <label class="tree_label" for="c5"></label>
                <span ng-click="getAssemblyView()" class="assebmlyName">Process Categories</span>
                <span ng-click="addOrEditProcessCatModal('save')" class="assemblyCreateIcon">
                    <i class="fa fa-plus btn-info" title="Add Process Category"></i>
                </span>
                <ul>
                    <li ng-repeat="pc in processStructureData">
                        <!-- <span class="tree_label">Sub Assembly 1 Name</span> -->
                        <input type="checkbox" id="{{pc.processCatName+$index}}" />
                        <label for="{{pc.processCatName+$index}}" class="tree_label"></label>
                        <!-- process cat name -->
                        <span ng-click="getSubAssemblyView()" class="subssemblyName">{{pc.processCatName | capitalize}}</span>
                        <!-- create  process items  -->
                        <span ng-click="addOrEditProcessItemModal('save',pc._id)" class="subAssemblyCreateIcon">
                            <i class="fa fa-plus btn-info" title="Add Process Item"></i>
                        </span>
                        <!-- edit process category -->
                        <span ng-click="addOrEditProcessCatModal('update', pc)" class="subAssemblyEditIcon">
                            <i class="fa fa-pencil btn-warning" title="Edit Process Category"></i>
                        </span>
                        <!-- delete process category -->
                        <span ng-click="deleteProcessCatModal(pc._id,'deleteProcessCat')" class="subAssemblyDeleteIcon">
                            <i class="fa fa-trash-o btn-danger" title="Delete Process Category"></i>
                        </span>
                        <ul class="">
                            <li ng-repeat="pi in pc.processItems">
                                <span class="tree_label" class="partName">{{pi.processItemName | capitalize}}</span>
                                <span ng-click="addOrEditProcessItemModal('update',pc._id,pi)" class="partEditIcon">
                                    <i class="fa fa-pencil btn-warning" title="Edit Process Item"></i>
                                </span>
                                <span ng-click="deleteProcessItemModal(pi._id,'deleteProcessItem')" class="partDeleteIcon">
                                    <i class="fa fa-trash-o btn-danger" title="Delete Process Item"></i>
                                </span>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="col-md-9">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light portlet-fit bordered">
            <div class="portlet-title">
                <div class="row">
                    <div class="col-md-6">
                        <div class="caption">
                            <i class="icon-settings font-green"></i>
                            <span class="caption-subject font-green sbold uppercase">Process Type</span>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="btn-group pull-right">
                            <button id="sample_editable_1_new" class="btn green" ng-click="addOrEditProcessTypeModal('save');">
                                <i class="fa fa-plus" title="Add Process Type"></i>
                            </button>
                        </div>
                        <div class="btn-group pull-right">
                            <button id="sample_editable_2_new" ng-hide="bulkProcesses.length == 0" class="btn red" ng-click="deleteBulkProcessesModal(bulkProcesses, 'deleteBulkProcesses')">
                                <i class="fa fa-trash-o" title="Delete Selected Records"></i>
                            </button>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="btn-group pull-right">
                            <button class="btn green btn-outline dropdown-toggle" data-toggle="dropdown">Tools
                                <i class="fa fa-angle-down"></i>
                            </button>
                            <ul class="dropdown-menu pull-right">
                                <li>
                                    <a href="javascript:;"> Save as PDF </a>
                                </li>
                                <li>
                                    <a href="javascript:;"> Export to Excel </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="btn-group" ng-show="obj.total>=obj.count">
                                <button type="button" class="btn btn-default">Show Records</button>
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000"
                                    data-close-others="true">
                                    <i class="fa fa-angle-down"></i>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a ng-click="getPaginationData(1, 5, keyword)"> 5 </a>
                                    </li>
                                    <li>
                                        <a ng-click="getPaginationData(1, 10, keyword)"> 10 </a>
                                    </li>
                                    <li>
                                        <a ng-click="getPaginationData(1, 15, keyword)"> 15 </a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a ng-click="getPaginationData(1, 50, keyword)"> 50 </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="inputs search pull-right">
                                <div class="portlet-input input-small input-inline">
                                    <div class="input-icon right">
                                        <i class="icon-magnifier"></i>
                                        <input type="text" class="form-control form-control-solid" ng-model="keyword" ng-change="getPaginationData(1, obj.count, keyword)"
                                            placeholder="search...">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- BEGIN BORDERED TABLE PORTLET-->
                <div class="portlet-body horizontal_scroll">
                    <div class="">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th rowspan="2">
                                        <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                            <input type="checkbox" id="checkAll" class="group-checkable" data-set="#sample_1 .checkboxes" ng-disabled="processData.length <= 0"
                                                ng-model="checkAll" ng-change="selectAll(processData, checkAll)" />
                                            <span></span>
                                        </label>
                                    </th>
                                    <th rowspan="2" class="align-top"> Process type Name </th>
                                    <th rowspan="2" class="align-top"> ProcessCat</th>
                                    <th colspan="2" class="text-center"> Rate </th>
                                    <th colspan="6" class="text-center"> Quantity</th>
                                    <th rowspan="2" class="align-top"> Action </th>
                                </tr>
                                <tr>
                                    <th>Multiplication Factor</th>
                                    <th title="Unit Of Measurement">UOM</th>
                                    <th>Key Value </th>
                                    <th title="Unit Of Measurement">UOM</th>
                                    <th>Multiplication Factor</th>
                                    <th>Final UOM</th>
                                    <th>Utilization (%)</th>
                                    <th>Contegency or Wastage (%)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="process in processData">
                                    <td>
                                        <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                            <input type="checkbox" ng-model="checkboxStatus" class="group-checkable" data-set="#sample_1 .checkboxes" ng-checked='checkAll'
                                                ng-click="selectBulkProcesses(checkboxStatus, process._id)" />
                                            <span></span>
                                        </label>
                                    </td>
                                    <td> {{process.processTypeName | capitalize}} </td>
                                    <td>{{process.processCat.processCatName | capitalize}}</td>
                                    <td>{{process.rate.mulFact}} </td>
                                    <td>{{process.rate.uom.uomName}} </td>
                                    <td>{{process.quantity.linkedKeyValue}} </td>
                                    <td>{{process.quantity.uom.uomName}} </td>
                                    <td> {{process.quantity.mulfact}} </td>
                                    <td> {{process.quantity.finalUom.uomName}}</td>
                                    <td> {{process.quantity.utilization}}</td>
                                    <td> {{process.quantity.contengncyOrWastage}}</td>
                                    <td class="edit-icon">
                                        <span class="label label-sm label-success" ng-click="addOrEditProcessTypeModal('update',process)">
                                            <i class="fa fa-pencil" title="Edit Process Type"></i>
                                        </span>&nbsp;
                                        <span class="label label-sm label-danger" ng-click="deleteProcessTypeModal(process._id,'deleteProcessType')">
                                            <i class="fa fa-trash-o" title="Delete Process Type"></i>
                                        </span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- END BORDERED TABLE PORTLET-->

                <div class="row" ng-hide="processData.length == 0">
                    <div class="col-md-6">
                        <div class="dataTables_info showing-records" id="sample_1_info" role="status" aria-live="polite">Showing {{obj.pageStart}} to {{obj.pageEnd}} of {{obj.total}} records</div>
                    </div>
                    <div class="col-md-6">
                        <div class="pull-right">
                            <div class="zui-pager small">
                                <ol class="btn-group">
                                    <li class="btn-group__item">
                                        <i class="i-chevron-left"></i>
                                    </li>
                                    <li class="btn-group__item">
                                        <div class="btn btn--action">
                                            <span>{{obj.pageNumber}}</span>
                                            <span>of</span>
                                            <span>{{obj.numberOfPages}}</span>
                                            <i class="i-caret-down"></i>
                                            <select class="select-overlay" ng-options="page for page in obj.pagesArray" ng-model="obj.pageNumber" ng-change="getPaginationData(obj.pageNumber, obj.count, keyword)">
                                                <option value="page">{{page}}</option>
                                            </select>
                                        </div>
                                    </li>
                                    <li class="btn-group__item">
                                        <i class="i-chevron-right"></i>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>