<input type="date" ng-if="data.model" ng-model="data.model" class="form-control" ng-change="changeDate(data.model)" />

<input type="date" ng-if="!data.model" ng-model="data.model" class="form-control" ng-change="changeDate(data.model)" />


<!-- <input type="date" ng-if="data.model" ui-date="dateOptions" ng-model="data.model" class="form-control" ng-change="changeDate(data.model)"
/>

<input type="date" ng-if="!data.model" ui-date="dateOptions" ng-model="data.model" class="form-control" ng-change="changeDate(data.model)"
/> -->