<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light portlet-fit bordered">
            <div class="portlet-title">
                <div class="row">
                    <div class="col-md-2">
                        <div class="caption">
                            <i class="icon-settings font-red"></i>
                            <span class="caption-subject font-red sbold uppercase">Items Details</span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label>Part Name:</label> {{estimatePartObj.partName}}
                    </div>
                    <div class="col-md-3">
                        <label>Part Id:</label> {{estimatePartObj.partNumber}}
                    </div>
                    <div class="col-md-3">
                        <label>Icon:<img alt="" ng-if="estimatePartObj.shapeIcon!=null" ng-src="{{estimatePartObj.shapeIcon|downloadpath}}" style="height: 30px;
                        width: 50px;margin-left:10px" /></label>
                    </div>
                    <div class="col-md-1" ng-hide="estimatePartObj.partUpdateStatus">
                            <button type="button" class="btn btn-circle green" ng-click="getEstimateView('editPartItemDetail', 'part', estimatePartObj.subAssNumber, estimatePartObj.partNumber)" >Reset</button>                            
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="part-detail-form">
                        <form class="form-horizontal" name="myForm">
                            <div class="form-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-4">
                                                <b>Items Details</b>
                                            </label>
                                        </div>
                                        <div class="form-group" ng-if="disablePartFields.showAll">
                                            <label class="col-md-4 control-label">Shortcut:</label>
                                            <div class="col-md-5">
                                                <select class="form-control" ng-options="s.presetName for s in estimatePartObj.allShortcuts track by s._id" ng-model="estimatePartObj.selectedShortcut"
                                                    placeholder="Select" ng-change="getSelectedShortcutData(estimatePartObj.selectedShortcut)"
                                                    ng-disabled="disablePartFields.disableShortcut" required>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group" ng-if="disablePartFields.showAll">
                                            <label class="col-md-4 control-label">Part Type Name:</label>
                                            <div class="col-md-5">
                                                <select class="form-control" ng-options="ptn.partTypeName for ptn in estimatePartObj.allPartTypes track by ptn._id" ng-model="estimatePartObj.selectedPartType"
                                                    placeholder="Select" ng-change="getSelectedPartTypeData(estimatePartObj.selectedPartType)"
                                                    ng-disabled="disablePartFields.disablePartType" required>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Shape:</label>
                                            <div class="col-md-5">
                                                <select class="form-control" ng-options="sh.shapeName for sh in estimatePartObj.allShapes track by sh._id" ng-model="estimatePartObj.selectedShape"
                                                    ng-change="getSelectedShapeData(estimatePartObj.selectedShape)" ng-disabled="disablePartFields.disableShape">
                                                </select>
                                            </div>
                                        </div>
                                        <!-- after selecting part preset/part type it will be enable -->
                                        <!-- <div class="form-group" ng-if="disablePartFields.showAll">
                                            <label class="col-md-4 control-label">Material:</label>
                                            <div class="col-md-5">
                                                <select class="form-control" ng-options="allMat.materialName for allMat in estimatePartObj.allMaterial track by allMat._id"
                                                    ng-model="estimatePartObj.selectedMaterial" placeholder="Select" ng-change="getSelectedMaterialData(estimatePartObj.selectedMaterial)"
                                                    ng-disabled="disablePartFields.disableMaterial" required>
                                                </select>
                                            </div>
                                        </div> -->
                                        <!-- after selecting shape it will be enable -->
                                        <div class="form-group" ng-if="!disablePartFields.disableAllMaterial">
                                            <label class="col-md-4 control-label">Material:</label>
                                            <div class="col-md-5">
                                                <select class="form-control" ng-options="allMat.materialName for allMat in estimatePartObj.allMaterial track by allMat._id"
                                                    ng-model="estimatePartObj.selectedMaterial" placeholder="Select" ng-change="getSelectedMaterialData(estimatePartObj.selectedMaterial, estimatePartObj.selectedShape)"
                                                    ng-disabled="disablePartFields.disableMaterial" required>
                                                </select>
                                            </div>
                                        </div>
                                        <!-- size in case of select -->
                                        <div class="form-group" ng-if="!disablePartFields.displayPresetSize && disablePartFields.showAll">
                                            <label class="col-md-4 control-label">Size:</label>
                                            <div class="col-md-5">
                                                <select class="form-control" ng-options="s.size for s in estimatePartObj.allSizes track by s._id" ng-model="estimatePartObj.selectedSize"
                                                    placeholder="Select" ng-change="getSelectedSizeData(estimatePartObj.selectedSize)"
                                                    ng-disabled="disablePartFields.disableSize" required>
                                                </select>
                                            </div>
                                        </div>
                                        <!-- size in case of only dislpay -->
                                        <div class="form-group" ng-if="disablePartFields.displayPresetSize && disablePartFields.showAll">
                                            <label class="col-md-4 control-label">Size:</label>
                                            <div class="col-md-5">
                                                <!-- <input type="text" class="form-control" ng-model="estimatePartObj.selectedSize" required> -->
                                                <select class="form-control" ng-disabled="disablePartFields.displayPresetSize">
                                                    <option value="" selected>{{estimatePartObj.selectedSize}}</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group" ng-if="!disablePartFields.disableCustomMaterial">
                                            <label class="col-md-4 control-label">Custom Material:</label>
                                            <div class="col-md-5">
                                                <select class="form-control" ng-options="cmd.customMaterialName for cmd in estimatePartObj.customMaterials track by cmd._id"
                                                    ng-model="estimatePartObj.selectedCustomMaterial" ng-change="getSelectedCustomMaterialData(estimatePartObj.selectedCustomMaterial)">
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Quantity:</label>
                                            <div class="col-md-5">
                                                <input type="number" class="form-control" ng-change="getPartFinalCalculation()" ng-model="estimatePartObj.quantity" required>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-4 control-label">Shape Image:</label>
                                            <div class="col-md-5">
                                                <div class="img-border">
                                                     <img alt="" class="img-responsive" ng-if="estimatePartObj.shapeImage!=null" ng-src="{{estimatePartObj.shapeImage|downloadpath}}" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-4">
                                                <b>Variables</b>
                                            </label>
                                        </div>
                                        <div class="form-group" ng-repeat="v in estimatePartObj.variables track by $index">
                                            <label class="col-md-3 control-label">{{v.varName}}</label>
                                            <div class="col-md-3">
                                                <input type="text" class="form-control" ng-change="updatePartCalculation()" ng-model="v.varValue" required>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Size Factor (sf)</label>
                                            <div class="col-md-3">
                                                <input type="text" class="form-control" ng-change="updatePartCalculation()" ng-model="estimatePartObj.sizeFactor">
                                            </div>
                                            <label class="col-md-3 control-label">Form Factor(ff)</label>
                                            <div class="col-md-3">
                                                <input type="text" class="form-control" ng-change="updatePartCalculation()" ng-model="estimatePartObj.formFactor">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Thickness (t)</label>
                                            <div class="col-md-3">
                                                <input type="text" class="form-control" ng-change="updatePartCalculation()" ng-model="estimatePartObj.thickness">
                                            </div>
                                            <label class="col-md-3 control-label">Length (l)</label>
                                            <div class="col-md-3">
                                                <input type="text" class="form-control" ng-change="updatePartCalculation()" ng-model="estimatePartObj.length">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                                <label class="col-md-3 control-label">Wastage (wtg)</label>
                                                <div class="col-md-3">
                                                    <input type="text" class="form-control" ng-change="updatePartCalculation()" ng-model="estimatePartObj.wastage">
                                                </div>
                                            </div>
                                        <div class="mar-t">
                                            <div class="form-group">
                                                <label class="col-md-3 ">
                                                    <b>Calculations:
                                                        <b>
                                                </label>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-5 ">Perimeter:</label>
                                                <div class="col-md-4">
                                                    <div>
                                                        <p>{{estimatePartObj.keyValueCalculations.perimeter}}
                                                            <span>m</span>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-5 ">SMA:</label>
                                                <div class="col-md-4">
                                                    <div>
                                                        <p>{{estimatePartObj.keyValueCalculations.sheetMetalArea}}
                                                            <span>sq m</span>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-5 ">SA:</label>
                                                <div class="col-md-4">
                                                    <div>
                                                        <p>{{estimatePartObj.keyValueCalculations.surfaceArea}}
                                                            <span>sq m</span>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-5 ">Gross Weight/Unit:</label>
                                                <div class="col-md-4">
                                                    <div>
                                                        <p>{{estimatePartObj.keyValueCalculations.grossWeight}}
                                                            <span>sq m</span>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-5 ">Net  Weight/Unit:</label>
                                                <div class="col-md-4">
                                                    <div>
                                                        <p>{{estimatePartObj.keyValueCalculations.netWeight}}
                                                            <span>sq m</span>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <div class="mar-t">
                                            <div class="form-group">
                                                <label class="col-md-5 ">Material Price:</label>
                                                <div class="col-md-4">
                                                    <div>
                                                        <p>{{estimatePartObj.finalCalculation.materialPrice.toFixed(2)}}
                                                            <span>Rs/kg</span>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-5 ">Item Unit Price:</label>
                                                <div class="col-md-4">
                                                    <div>
                                                        <p>{{estimatePartObj.finalCalculation.itemUnitPrice.toFixed(2)}}
                                                            <span>Rs</span>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-5 ">Total Price For Quantity:</label>
                                                <div class="col-md-4">
                                                    <div>
                                                        <p>{{estimatePartObj.finalCalculation.totalCostForQuantity.toFixed(2)}}
                                                            <span>Rs</span>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 text-center">
                                        <button type="submit" class="btn btn-circle green" ng-if="showSaveBtn" ng-click="updatePartDetail(estimatePartObj)" ng-disabled="myForm.$pristine">Save</button>
                                        <button type="submit" class="btn btn-circle green" ng-if="showEditBtn" ng-click="updatePartDetail(estimatePartObj)" ng-disabled="myForm.$pristine">Update</button>
                                        <button type="button" class="btn btn-circle grey-salsa btn-outline">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>