<html>
    <head></head>
    <body style="margin:0px;">
        <div style="width:600px;/* background:#f0f0f0; */font-family: 'Karla', sans-serif;" color:="" #2d2d2d;"="">
            <div style=" background: #fff;padding: 15px 41px;">
                <h1>ESTIMATOR</h1>
            </div>        
            <div style="padding:0 6% 0;font-size: 15px;">
                <p style="font-size: 17px;">Hello <%= name%>,</p>
                <p style="list-style: none; font-size: 15px;">Kindly find the OTP to reset your password</p>
                <br>
                <p style="list-style: none; font-size: 15px;">OTP: <%= otp%></p>
                <br>
                <p style="list-style: none; font-size: 15px;"></p>
                <p style="list-style: none; font-size: 15px;">Please do not share the otp with anyone</p>
            </div>
            <div style=" background-color: #019bd9;padding:15px 6%;font-size: 12px;color: #fff;font-family: 'Karla', sans-serif;" "="">
                <span style="padding-right: 15px;display:inline-block;color: #fff;">© 2017 ESTIMATION</span>
            </div> 
        </div>
    </body> 
</html>