<!-- BEGIN SIDEBAR -->
<div ui-view="sidebar" class="page-sidebar-wrapper">
</div>
<!-- END SIDEBAR -->
<!-- BEGIN CONTENT -->
<div class="page-content-wrapper"  ng-class="{hideSideBar: isSidebarActive == 'active'}">
    <div class="page-content" ng-class="{hideSideBar: isSidebarActive == 'active'}">
        <!-- BEGIN STYLE CUSTOMIZER(optional) -->
        <div data-ng-include="'../frontend/views/tpl/theme-panel.html'" data-ng-controller="ThemePanelController" class="theme-panel hidden-xs hidden-sm">
        </div>
        <!-- END STYLE CUSTOMIZER -->
        <!-- BEGIN ACTUAL CONTENT -->
        <div ui-view="mainView" class="fade-in-up">
             </div>
        <!-- END ACTUAL CONTENT -->
    </div>
</div>
<!-- END CONTENT -->
<!-- BEGIN QUICK SIDEBAR -->
<a href="javascript:;" class="page-quick-sidebar-toggler">
                <i class="icon-login"></i>
            </a>
<div data-ng-include="'../frontend/views/tpl/quick-sidebar.html'" data-ng-controller="QuickSidebarController" class="page-quick-sidebar-wrapper"></div>
<!-- END QUICK SIDEBAR -->
