<div class="row">
    <div class="col-md-12">
        <div class="portlet light">
            <div class="portlet-title tabbable-line tabs-left">
                <!--<div class="caption caption-md">
                    <i class="icon-globe theme-font hide"></i>
                    <span class="caption-subject font-blue-madison bold uppercase">Profile Account</span>
                </div>-->
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#" data-target="#tab_1_1" data-toggle="tab">Details</a>
                    </li>
                    <li>
                        <a href="#" data-target="#tab_1_2" data-toggle="tab">Estimate</a>
                    </li>
                    <li>
                        <a href="#" data-target="#tab_1_3" data-toggle="tab">BOQ</a>
                    </li>
                    <li>
                        <a href="#" data-target="#tab_1_4" data-toggle="tab">Attachments</a>
                    </li>
                </ul>
            </div>
            <div class="portlet-body">
                <div class="tab-content">
                    <!-- PERSONAL INFO TAB -->
                    <div class="tab-pane active" id="tab_1_1">
                        <!--<div class="row">
                            <div class="col-md-6">
                                <div class="portlet light bordered">
                                    <div class="portlet-title">
                                        <div class="caption">
                                            <i class="fa fa-cogs font-green-sharp"></i>
                                            <span class="caption-subject font-green-sharp bold uppercase">Default Tree</span>
                                        </div>
                                        <div class="tools">
                                            <a href="javascript:;" class="collapse"> </a>
                                            <a href="#portlet-config" data-toggle="modal" class="config"> </a>
                                            <a href="javascript:;" class="reload"> </a>
                                            <a href="javascript:;" class="remove"> </a>
                                        </div>
                                    </div>
                                    <div class="portlet-body">
                                        <div id="tree_1" class="tree-demo">
                                            <ul>
                                                <li> Root node 1
                                                    <ul>
                                                        <li data-jstree='{ "selected" : true }'>
                                                            <a href="javascript:;"> Initially selected </a>
                                                        </li>
                                                        <li data-jstree='{ "icon" : "fa fa-briefcase icon-state-success " }'> custom icon URL </li>
                                                        <li data-jstree='{ "opened" : true }'> initially open
                                                            <ul>
                                                                <li data-jstree='{ "disabled" : true }'> Disabled Node </li>
                                                                <li data-jstree='{ "type" : "file" }'> Another node </li>
                                                            </ul>
                                                        </li>
                                                        <li data-jstree='{ "icon" : "fa fa-warning icon-state-danger" }'> Custom icon class (bootstrap) </li>
                                                    </ul>
                                                </li>
                                                <li data-jstree='{ "type" : "file" }'>
                                                    <a href="http://www.jstree.com"> Clickanle link node </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>-->
                    </div>
                    <!-- END PERSONAL INFO TAB -->
                    <!-- Estimate TAB -->
                    <div class="tab-pane" id="tab_1_2">
                        <div class="row">
                            <div class="col-md-3">
                                <ul class="tree">
                                    <li class="mainLi">
                                        <input type="checkbox" id="c5" />
                                        <label class="tree_label" for="c5"></label>
                                        <span ng-click="getEstimateView('assembly')" class="assebmlyName">Assembly Name</span>
                                        <span ng-click="createSubAssemblyModal()" class="assemblyCreateIcon"><i class="fa fa-plus btn-info"></i></span>
                                        <span ng-click="editAssembly()" class="assemblyEditIcon"><i class="fa fa-pencil btn-warning "></i></span>
                                        <ul>
                                            <li ng-repeat="sa in estimteData.subAssemblies">
                                                <!-- <span class="tree_label">Sub Assembly 1 Name</span> -->
                                                <input type="checkbox" id="{{sa.name+$index}}" />
                                                <label for="{{sa.name+$index}}" class="tree_label"></label>
                                                <span ng-click="getEstimateView('subAssembly')" class="subssemblyName">{{sa.name}}</span>
                                                <span ng-click="createEstimatePart()" class="subAssemblyCreateIcon"><i class="fa fa-plus btn-info"></i></span>
                                                <span ng-click="editSubAssembly()" class="subAssemblyEditIcon"><i class="fa fa-pencil btn-warning"></i></span>
                                                <span ng-click="deleteSubAssembly()" class="subAssemblyDeleteIcon"><i class="fa fa-trash-o btn-danger"></i></span>
                                                <ul class="">
                                                    <li ng-repeat="p in sa.part">
                                                        <input type="checkbox" id="{{p.name+$index+$parent.$index}}" />
                                                        <label for="{{p.name+$index+$parent.$index}}" class="tree_label"></label>
                                                        <span ng-click="getEstimateView('partDetail')" class="tree_label partName">{{p.name}}</span>
                                                        <span ng-click="editEstimatePart()" class="partEditIcon"><i class="fa fa-pencil btn-warning "></i></span>
                                                        <span ng-click="deleteEstimatePart()" class="partDeleteIcon"><i class="fa fa-trash-o btn-danger "></i></span>
                                                        <ul>
                                                            <li>
                                                                <span ng-click="getEstimateView('editPartItemDetail')" class="tree_label">Part Detail</span>
                                                            </li>
                                                            <li>
                                                                <span ng-click="getEstimateView('processing','part',p._id)" class="tree_label">Processing</span>
                                                                <span ng-click="createEstimatePart()" class="processingIcon"><i class="fa fa-plus btn-info"></i></span>
                                                            </li>
                                                            <li>
                                                                <span ng-click="getEstimateView('addons','part',p._id)" class="tree_label">Addons</span>
                                                                <span ng-click="createEstimatePart()" class="addonsIcon"><i class="fa fa-plus btn-info"></i></span>
                                                            </li>
                                                            <li>
                                                                <span ng-click="getEstimateView('extras','part',p._id)" class="tree_label">Extras</span>
                                                                <span ng-click="createEstimatePart()" class="extrasIcon"><i class="fa fa-plus btn-info"></i></span>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <span ng-click="getEstimateView('processing','subAssembly',sa._id)" class="tree_label">Processing</span>
                                                        <span ng-click="createEstimatePart()" class="processingIcon"><i class="fa fa-plus btn-info"></i></span>
                                                    </li>
                                                    <li>
                                                        <span ng-click="getEstimateView('addons','subAssembly',sa._id)" class="tree_label">Addons</span>
                                                        <span ng-click="createEstimatePart()" class="addonsIcon"><i class="fa fa-plus btn-info"></i></span>
                                                    </li>
                                                    <li>
                                                        <span ng-click="getEstimateView('extras','subAssembly',sa._id)" class="tree_label">Extras</span>
                                                        <span ng-click="createEstimatePart()" class="extrasIcon"><i class="fa fa-plus btn-info"></i></span>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <span ng-click="getEstimateView('processing', 'assembly',estimteData._id)" class="tree_label">Processing</span>
                                                <span ng-click="createEstimatePart()" class="processingIcon"><i class="fa fa-plus btn-info"></i></span>
                                            </li>
                                            <li>
                                                <span ng-click="getEstimateView('addons', 'assembly',estimteData._id)" class="tree_label">Addons</span>
                                                <span ng-click="createEstimatePart()" class="addonsIcon"><i class="fa fa-plus btn-info"></i></span>
                                            </li>
                                            <li>
                                                <span ng-click="getEstimateView('extras', 'assembly',estimteData._id)" class="tree_label">Extras</span>
                                                <span ng-click="createEstimatePart()" class="extrasIcon"><i class="fa fa-plus btn-info"></i></span>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="cm" />
                                        <label class="tree_label" for="cm"></label><span ng-click="getEstimateView('customMaterial')">Custom Material</span>
                                    </li>
                                </ul>

                            </div>
                            <div class="col-md-9">
                                <div ng-include="estimateView"></div>
                            </div>
                        </div>
                    </div>
                    <!-- END Estimate TAB -->
                    <!-- CHANGE PASSWORD TAB -->
                    <div class="tab-pane" id="tab_1_3">
                        <form action="#">
                            <div class="form-group">
                                <label class="control-label">Current Password</label>
                                <input type="password" class="form-control" /> </div>
                            <div class="form-group">
                                <label class="control-label">New Password</label>
                                <input type="password" class="form-control" /> </div>
                            <div class="form-group">
                                <label class="control-label">Re-type New Password</label>
                                <input type="password" class="form-control" /> </div>
                            <div class="margin-top-10">
                                <a href="#" class="btn green-haze"> Change Password </a>
                                <a href="#" class="btn default"> Cancel </a>
                            </div>
                        </form>
                    </div>
                    <!-- END CHANGE PASSWORD TAB -->
                    <!-- PRIVACY SETTINGS TAB -->
                    <div class="tab-pane" id="tab_1_4">
                        <form action="#">
                            <table class="table table-light table-hover">
                                <tr>
                                    <td> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus.. </td>
                                    <td>
                                        <label class="uniform-inline">
                                            <input type="radio" name="optionsRadios1" value="option1" /> Yes </label>
                                        <label class="uniform-inline">
                                            <input type="radio" name="optionsRadios1" value="option2" checked/> No </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td> Enim eiusmod high life accusamus terry richardson ad squid wolf moon </td>
                                    <td>
                                        <label class="uniform-inline">
                                            <input type="checkbox" value="" /> Yes </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td> Enim eiusmod high life accusamus terry richardson ad squid wolf moon </td>
                                    <td>
                                        <label class="uniform-inline">
                                            <input type="checkbox" value="" /> Yes </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td> Enim eiusmod high life accusamus terry richardson ad squid wolf moon </td>
                                    <td>
                                        <label class="uniform-inline">
                                            <input type="checkbox" value="" /> Yes </label>
                                    </td>
                                </tr>
                            </table>
                            <!--end profile-settings-->
                            <div class="margin-top-10">
                                <a href="#" class="btn green-haze"> Save Changes </a>
                                <a href="#" class="btn default"> Cancel </a>
                            </div>
                        </form>
                    </div>
                    <!-- END PRIVACY SETTINGS TAB -->
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-scrollable">
                    <table class="table table-bordered ">
                        <tr>
                            <th> Material Cost</th>
                            <th> Process Cost </th>
                            <th> Addon Cost </th>
                            <th>Extra Cost </th>
                            <th> Total Cost </th>
                            <th class="align-middle text-center"> Total Weight </th>
                        </tr>
                        <tr>
                            <td> 1 </td>
                            <td> 200 </td>
                            <td> 300 </td>
                            <td> 500 </td>
                            <td>300 </td>
                            <td rowspan="3" class="align-middle text-center">1000</td>
                        </tr>
                        <tr>
                            <th> Material Cost</th>
                            <th> Process Cost </th>
                            <th> Addon Cost </th>
                            <th>Extra Cost </th>
                            <th> Total Cost </th>
                        </tr>
                        <tr>
                            <td> 1 </td>
                            <td> 200 </td>
                            <td> 100 </td>
                            <td> 434 </td>
                            <td>209 </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script>
        UITree.init(); // init todo page
    </script>