<div class="row">
    <div class="col-md-12 ">
        <div class="img-border">
            <div class="portlet light">
                <div class="portlet-title tabbable-line tabs-left">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#" data-target="#tab_1_2" data-toggle="tab">Estimate</a>
                        </li>
                        <li>
                            <a href="#" data-target="#tab_1_1" data-toggle="tab">Details</a>
                        </li>
                        <li>
                            <a href="#" data-target="#tab_1_3" data-toggle="tab">BOQ</a>
                        </li>
                        <li>
                            <a href="#" data-target="#tab_1_4" data-toggle="tab">Attachments</a>
                        </li>
                    </ul>
                    <div class="text-right saveEstimateBtn">
                        <button type="Save" class="btn btn-circle green" ng-click="compileCurrentEstimate()">Finalize</button>
                        <button type="Save" class="btn btn-circle green">Export to Excel</button>
                    </div>
                </div>
                <div loading></div>
                <div class="portlet-body">
                    <div class="tab-content">
                        <!-- DETAILS TAB -->
                        <div class="tab-pane" id="tab_1_1">
                            <div class="portlet-body">
                                <div class="table-scrollable">
                                    <table class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th colspan="2"></th>
                                                <th class="text-center">Material</th>
                                                <th class="text-center">Processing</th>
                                                <th class="text-center">Addon</th>
                                                <th class="text-center">Extra</th>
                                                <th colspan="2" class="text-center">Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td rowspan="4" width="" style="width:300px!important">
                                                    <div class="row">
                                                        <div class="form-group col-md-12">
                                                            <div class="row">
                                                                <label class="control-label col-md-4">Negotiation:</label>
                                                                <div class="col-md-3" style="padding-left:0 !important;">
                                                                    <input type="text" name="negotiation" ng-model="estimteData.negotiation" ng-change="addCNOToCost()" class="form-control">
                                                                    <span class="unit">%</span>
                                                                </div>
                                                                <div class="col-md-5" style="padding-left:0 !important;">
                                                                    <input type="text" name="negotiation" ng-model="estimteData.negotiationAmount | number : 2" ng-change="addCNOToCost()" class="form-control"
                                                                        disabled>
                                                                    <span class="unit">Rs</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="form-group  col-md-12">
                                                            <div class="row">
                                                                <label class="control-label  col-md-4">Commission: </label>
                                                                <div class="col-md-3" style="padding-left:0 !important;">
                                                                    <input type="text" name="comission" ng-model="estimteData.commission" ng-change="addCNOToCost()" class="form-control">
                                                                    <span class="unit">%</span>
                                                                </div>
                                                                <div class="col-md-5" style="padding-left:0 !important;">
                                                                    <input type="text" name="comission" ng-model="estimteData.commissionAmount | number : 2" ng-change="addCNOToCost()" class="form-control"
                                                                        disabled>
                                                                    <span class="unit">Rs</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="form-group  col-md-12">
                                                            <div class="row">
                                                                <label class="control-label  col-md-4">Other: </label>
                                                                <div class="col-md-3" style="padding-left:0 !important;">
                                                                    <input type="text" name="other" ng-model="estimteData.other" ng-change="addCNOToCost()" class="form-control">
                                                                    <span class="unit">%</span>
                                                                </div>
                                                                <div class="col-md-5" style="padding-left:0 !important;">
                                                                    <input type="text" name="other" ng-model="estimteData.otherAmount | number : 2" ng-change="addCNOToCost()" class="form-control"
                                                                        disabled>
                                                                    <span class="unit">Rs</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td rowspan="2" class="text-center">Cost Price</td>
                                                <td rowspan="2" class="text-center"> {{(estimteData.mtAtAssembly).toFixed(2)}} </td>
                                                <td rowspan="2" class="text-center"> {{estimteData.pCostAtAssemby.toFixed(2)}} </td>
                                                <td rowspan="2" class="text-center"> {{estimteData.aCostAtAssemby.toFixed(2)}} </td>
                                                <td rowspan="2" class="text-center"> {{estimteData.eCostAtAssemby.toFixed(2)}} </td>
                                                <td rowspan="2" class="text-center"> {{estimteData.costPrice.toFixed(2) | currency:"₹"}} </td>
                                                <td style="width:200px!important">
                                                    <span class="col-md-6">Net Weight :</span>
                                                    <span class="col-md-6" style="padding-left:0 !important;">{{estimteData.netWtAtAssembly.toFixed(2)}}&nbsp;
                                                        <b>Kg</b>
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr></tr>
                                            <tr>
                                                <td rowspan="2" class="text-center">Selling Price</td>
                                                <td rowspan="2" class="text-center"> {{estimteData.materialCost.toFixed(2)}}</td>
                                                <td rowspan="2" class="text-center"> {{estimteData.processingCost.toFixed(2)}} </td>
                                                <td rowspan="2" class="text-center">{{estimteData.addonCost.toFixed(2)}} </td>
                                                <td rowspan="2" class="text-center"> {{estimteData.extrasCost.toFixed(2)}}</td>
                                                <td rowspan="2" class="text-center"> {{estimteData.totalCost.toFixed(2) | currency:"₹"}}</td>
                                                <td style="width:250px!important"> 
                                                    <span class="col-md-6">Gross Weight :</span>
                                                    <span class="col-md-6" style="padding-left:0 !important;">{{estimteData.wtAtAssembly.toFixed(2)}}&nbsp;
                                                        <b>Kg</b>
                                                    </span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default" ng-click="addScalingFactorToCost('low')" ng-class="{'btnActive' : activeMarkup == 'low'}">Low</button>
                                    <button type="button" class="btn btn-default" ng-click="addScalingFactorToCost('medium')" ng-class="{'btnActive' : activeMarkup == 'medium'}">Medium</button>
                                    <button type="button" class="btn btn-default" ng-click="addScalingFactorToCost('high')" ng-class="{'btnActive' : activeMarkup == 'high'}">High</button>
                                    <button type="button" class="btn btn-default" ng-click="addScalingFactorToCost('budgetory')" ng-class="{'btnActive' : activeMarkup == 'budgetory'}">Budgetory</button>
                                </div>
                            </div>
                        </div>
                        <!-- END DETAIL TAB -->
                        <!-- Estimate TAB -->
                        <div class="tab-pane active" id="tab_1_2">
                            <div class="row">
                                <div class="col-md-3">
                                    <ul class="tree">
                                        <li class="mainLi">
                                            <input type="checkbox" id="c5" />
                                            <label class="tree_label" for="c5"></label>
                                            <span ng-click="getEstimateView('assembly')" class="assebmlyName">{{estimteData.assemblyName | capitalize}} ({{estimteData.subAssemblies.length}})</span>
                                            <span ng-click="addOrEditSubAssemblyModal('save')" class="assemblyCreateIcon">
                                                <i class="fa fa-plus btn-info" title="Add SubAssembly"></i>
                                            </span>
                                            <span ng-click="editAssemblyNameModal(estimteData)" class="assemblyEditIcon">
                                                <i class="fa fa-pencil btn-warning" title="Edit Assembly Name"></i>
                                            </span>

                                            <ul class="tree_animation">
                                                <li ng-repeat="sa in estimteData.subAssemblies track by $index">
                                                    <input type="checkbox" id="{{sa.subAssemblyName+$index}}" />
                                                    <label for="{{sa.subAssemblyName+$index}}" class="tree_label"></label>
                                                    <span ng-click="getEstimateView('subAssembly', 'assembly', sa.subAssemblyNumber)" class="subssemblyName">{{sa.subAssemblyName | capitalize}} ({{sa.subAssemblyParts.length}})</span>
                                                    <span ng-click="addOrEditPartModal('save',sa.subAssemblyNumber)" class="subAssemblyCreateIcon">
                                                        <i class="fa fa-plus btn-info" title="Add Part"></i>
                                                    </span>
                                                    <span ng-click="addOrEditSubAssemblyModal('update', sa)" class="subAssemblyEditIcon">
                                                        <i class="fa fa-pencil btn-warning" title="Edit SubAssembly Name"></i>
                                                    </span>
                                                    <span ng-click="deleteSubAssemblyModal(sa.subAssemblyNumber,'deleteSubAssembly')" class="subAssemblyDeleteIcon">
                                                        <i class="fa fa-trash-o btn-danger" title="Delete SubAssembly"></i>
                                                    </span>
                                                    <ul class="tree_animation">
                                                        <li ng-repeat="p in sa.subAssemblyParts track by $index">
                                                            <input type="checkbox" id="{{p.partName+$index+$parent.$index}}" />
                                                            <label for="{{p.partName+$index+$parent.$index}}" class="tree_label"></label>
                                                            <span ng-click="getEstimateView('partDetail', 'subAssembly', sa.subAssemblyNumber, p.partNumber)" class="tree_label partName">{{p.partName | capitalize}}</span>
                                                            <span ng-click="addOrEditPartModal('update', sa.subAssemblyNumber, p)" class="partEditIcon">
                                                                <i class="fa fa-pencil btn-warning" title="Edit Part"></i>
                                                            </span>
                                                            <span ng-click="duplicatePart(sa.subAssemblyNumber, p)" class="partDuplicateIcon">
                                                                <i class="fa fa-clone btn-success" title="Duplicate Part"></i>
                                                            </span>
                                                            <span ng-click="deletePartModal('deletePart', sa.subAssemblyNumber, p.partNumber)" class="partDeleteIcon">
                                                                <i class="fa fa-trash-o btn-danger" title="Delete Part"></i>
                                                            </span>
                                                            <span ng-click="importPartToDifferentSubAssemblyModal(sa.subAssemblyNumber, p)" class="importPartIcon">
                                                                <i class="fa fa-clipboard  btn-primary" title="Add Part To Different SubAssembly"></i>
                                                            </span>

                                                            <ul>
                                                                <li>
                                                                    <span ng-click="getEstimateView('editPartItemDetail', 'part', sa.subAssemblyNumber, p.partNumber)" class="tree_label">Item Detail</span>
                                                                </li>
                                                                <li>
                                                                    <span ng-click="getEstimateView('processing', 'part', sa.subAssemblyNumber, p.partNumber)" class="tree_label">Processing ({{p.processing.length}})</span>
                                                                    <span ng-click="addOrEditProcessingModal('save', 'part', sa.subAssemblyNumber, p.partNumber)" class="partAdd">
                                                                        <i class="fa fa-plus btn-info" title="Add Processing"></i>
                                                                    </span>
                                                                </li>
                                                                <li>
                                                                    <span ng-click="getEstimateView('addons', 'part', sa.subAssemblyNumber, p.partNumber)" class="tree_label">Addons ({{p.addons.length}})</span>
                                                                    <span ng-click="addOrEditAddonModal('save', 'part', sa.subAssemblyNumber, p.partNumber)" class="partAdd">
                                                                        <i class="fa fa-plus btn-info" title="Add Addon"></i>
                                                                    </span>
                                                                </li>
                                                                <li>
                                                                    <span ng-click="getEstimateView('extras', 'part', sa.subAssemblyNumber, p.partNumber)" class="tree_label">Extras ({{p.extras.length}})</span>
                                                                    <span ng-click="addOrEditExtraModal('save', 'part', sa.subAssemblyNumber, p.partNumber)" class="partAdd">
                                                                        <i class="fa fa-plus btn-info" title="Add Extra"></i>
                                                                    </span>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                        <li>
                                                            <span ng-click="getEstimateView('processing', 'subAssembly', sa.subAssemblyNumber)" class="tree_label">Processing ({{sa.processing.length}})</span>
                                                            <span ng-click="addOrEditProcessingModal('save', 'subAssembly', sa.subAssemblyNumber)" class="subAssemblyAdd">
                                                                <i class="fa fa-plus btn-info" title="Add Processing"></i>
                                                            </span>
                                                        </li>
                                                        <li>
                                                            <span ng-click="getEstimateView('addons', 'subAssembly', sa.subAssemblyNumber)" class="tree_label">Addons ({{sa.addons.length}})</span>
                                                            <span ng-click="addOrEditAddonModal('save', 'subAssembly', sa.subAssemblyNumber)" class="subAssemblyAdd">
                                                                <i class="fa fa-plus btn-info" title="Add Addon"></i>
                                                            </span>
                                                        </li>
                                                        <li>
                                                            <span ng-click="getEstimateView('extras', 'subAssembly', sa.subAssemblyNumber)" class="tree_label">Extras ({{sa.extras.length}})</span>
                                                            <span ng-click="addOrEditExtraModal('save', 'subAssembly', sa.subAssemblyNumber)" class="subAssemblyAdd">
                                                                <i class="fa fa-plus btn-info" title="Add Extra"></i>
                                                            </span>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li>
                                                    <span ng-click="getEstimateView('processing', 'assembly')" class="tree_label">Processing ({{estimteData.processing.length}})</span>
                                                    <span ng-click="addOrEditProcessingModal('save', 'assembly')" class="assemblyAdd">
                                                        <i class="fa fa-plus btn-info" title="Add Processing"></i>
                                                    </span>
                                                </li>
                                                <li>
                                                    <span ng-click="getEstimateView('addons', 'assembly')" class="tree_label">Addons ({{estimteData.addons.length}})</span>
                                                    <span ng-click="addOrEditAddonModal('save', 'assembly')" class="assemblyAdd">
                                                        <i class="fa fa-plus btn-info" title="Add Addon"></i>
                                                    </span>
                                                </li>
                                                <li>
                                                    <span ng-click="getEstimateView('extras', 'assembly')" class="tree_label">Extras ({{estimteData.extras.length}})</span>
                                                    <span ng-click="addOrEditExtraModal('save', 'assembly')" class="assemblyAdd">
                                                        <i class="fa fa-plus btn-info" title="Add Extra"></i>
                                                    </span>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <input type="checkbox" id="cm" />
                                            <label class="tree_label" for="cm"></label>
                                            <span ng-click="getAllMaterialData('customMaterial')" class="customMaterialName">Custom Material ({{customMaterial.length}})</span>
                                            <span ng-click="addOrEditCustomMaterialModal('save')" class="customerMaterialCreateIcon">
                                                <i class="fa fa-plus btn-info" title="Add Custom Material"></i>
                                            </span>
                                            <span ng-click="importCustoMaterialModal()" class="assemblyEditIcon">
                                                <i class="fa fa-files-o btn-success" title="Import Custom Material"></i>
                                            </span>
                                            <ul class="tree_animation">
                                                <li ng-repeat="cm in customMaterial track by $index">
                                                    <span ng-click="getAllMaterialData('customMaterial')" class="tree_label">{{cm.customMaterialName | capitalize}}
                                                    </span>
                                                    <span ng-click="addOrEditCustomMaterialModal('update', cm)" class="subAssemblyEditIcon">
                                                        <i class="fa fa-pencil btn-warning" title="Edit Custom Material"></i>
                                                    </span>
                                                    <span ng-click="deleteCustomMaterialModal(cm._id,'deleteCustomMaterial')" class="subAssemblyDeleteIcon">
                                                        <i class="fa fa-trash-o btn-danger" title="Delete Custom Material"></i>
                                                    </span>
                                                </li>
                                            </ul>
                                        </li>

                                    </ul>
                                </div>
                                <div class="col-md-9">
                                    <div ng-include="estimateView"></div>
                                </div>
                            </div>
                            <div class="portlet-body" ng-show='estimateView=="views/content/estimate/estimateViews/assembly.html"'>
                                <div class="table-scrollable">
                                    <table class="table table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th colspan="2"></th>
                                                <th class="text-center">Material</th>
                                                <th class="text-center">Processing</th>
                                                <th class="text-center">Addon</th>
                                                <th class="text-center">Extra</th>
                                                <th colspan="2" class="text-center">Total</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td rowspan="4" width="" style="width:300px!important">
                                                    <div class="row">
                                                        <div class="form-group col-md-12">
                                                            <div class="row">
                                                                <label class="control-label col-md-4">Negotiation:</label>
                                                                <div class="col-md-3" style="padding-left:0 !important;">
                                                                    <input type="text" name="negotiation" ng-model="estimteData.negotiation" ng-change="addCNOToCost()" class="form-control">
                                                                    <span class="unit">%</span>
                                                                </div>
                                                                <div class="col-md-5" style="padding-left:0 !important;">
                                                                    <input type="text" name="negotiation" ng-model="estimteData.negotiationAmount | number : 2" ng-change="addCNOToCost()" class="form-control"
                                                                        disabled>
                                                                    <span class="unit">Rs</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="form-group  col-md-12">
                                                            <div class="row">
                                                                <label class="control-label  col-md-4">Commission: </label>
                                                                <div class="col-md-3" style="padding-left:0 !important;">
                                                                    <input type="text" name="comission" ng-model="estimteData.commission" ng-change="addCNOToCost()" class="form-control">
                                                                    <span class="unit">%</span>
                                                                </div>
                                                                <div class="col-md-5" style="padding-left:0 !important;">
                                                                    <input type="text" name="comission" ng-model="estimteData.commissionAmount | number : 2" ng-change="addCNOToCost()" class="form-control"
                                                                        disabled>
                                                                    <span class="unit">Rs</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="form-group  col-md-12">
                                                            <div class="row">
                                                                <label class="control-label  col-md-4">Other: </label>
                                                                <div class="col-md-3" style="padding-left:0 !important;">
                                                                    <input type="text" name="other" ng-model="estimteData.other" ng-change="addCNOToCost()" class="form-control">
                                                                    <span class="unit">%</span>
                                                                </div>
                                                                <div class="col-md-5" style="padding-left:0 !important;">
                                                                    <input type="text" name="other" ng-model="estimteData.otherAmount | number : 2" ng-change="addCNOToCost()" class="form-control"
                                                                        disabled>
                                                                    <span class="unit">Rs</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td rowspan="2" class="text-center">Cost Price</td>
                                                <td rowspan="2" class="text-center"> {{(estimteData.mtAtAssembly).toFixed(2)}} </td>
                                                <td rowspan="2" class="text-center"> {{estimteData.pCostAtAssemby.toFixed(2)}} </td>
                                                <td rowspan="2" class="text-center"> {{estimteData.aCostAtAssemby.toFixed(2)}} </td>
                                                <td rowspan="2" class="text-center"> {{estimteData.eCostAtAssemby.toFixed(2)}} </td>
                                                <td rowspan="2" class="text-center"> {{estimteData.costPrice.toFixed(2) | currency:"₹"}} </td>
                                                <td style="width:200px!important">
                                                    <span class="col-md-6">Net Weight :</span>
                                                    <span class="col-md-6" style="padding-left:0 !important;">{{estimteData.netWtAtAssembly.toFixed(2)}}&nbsp;
                                                        <b>Kg</b>
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr></tr>
                                            <tr>
                                                <td rowspan="2" class="text-center">Selling Price</td>
                                                <td rowspan="2" class="text-center"> {{estimteData.materialCost.toFixed(2)}}</td>
                                                <td rowspan="2" class="text-center"> {{estimteData.processingCost.toFixed(2)}} </td>
                                                <td rowspan="2" class="text-center">{{estimteData.addonCost.toFixed(2)}} </td>
                                                <td rowspan="2" class="text-center"> {{estimteData.extrasCost.toFixed(2)}}</td>
                                                <td rowspan="2" class="text-center"> {{estimteData.totalCost.toFixed(2) | currency:"₹"}}</td>
                                                <td style="width:250px!important"> 
                                                    <span class="col-md-6">Gross Weight :</span>
                                                    <span class="col-md-6" style="padding-left:0 !important;">{{estimteData.wtAtAssembly.toFixed(2)}}&nbsp;
                                                        <b>Kg</b>
                                                    </span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- END Estimate TAB -->
                        <!-- BOQ TAB -->
                        <div class="tab-pane" id="tab_1_3">
                        </div>
                        <!-- END BOQ TAB -->
                        <!-- Attachments TAB -->
                        <div class="tab-pane" id="tab_1_4">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="portlet light bordered">
                                        <div class="portlet-title">
                                            <div class="padd-t font-green-haze">
                                                <i class="icon-settings font-green-haze"></i>
                                                <span class="caption-subject bold uppercase"> Attachments</span>
                                            </div>
                                        </div>
                                        <form role="form" class="form-horizontal">
                                            <div class="portlet-body form">
                                                <div class="form-group form-md-line-input has-success">
                                                    <label class="col-md-3 control-label" for="form_control_1">Attachments:</label>
                                                    <div class="col-md-6">
                                                        <upload-all-files ng-model="formData.estimateAttachment.files" icon="false" pdf-file="true"></upload-all-files>
                                                        <!--<div class="form-control-focus"> </div>-->
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-actions">
                                                <div class="row">
                                                    <div class=" col-md-12 text-center">
                                                        <button type="button" class="btn blue">Submit</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END Attachments TAB -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>