<div class="row">
    <div class="col-md-12 mar-b">
        <div class="portlet box green ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>User
                </div>
                <div class="tools">
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form class="form-horizontal" name="myForm">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-4 control-label">Name :<span class="error">&nbsp;&nbsp;*</span></label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" name="name" ng-model="formData.name" placeholder="Enter User Name" required autofocus>
                                <span class="error" ng-show="myForm.name.$dirty && formData.name.$invalid">Name field is required !!!</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Email Id :<b class="error">&nbsp;&nbsp;*</b></label>
                            <div class="col-md-5">
                                <input type="email" class="form-control" name="email" ng-change="checkEmailAvailability(formData)" pattern="[a-z._%+-]+[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"  ng-model="formData.email" placeholder="Enter Email-Id Number" required>
                                <span class="error" ng-show="myForm.email.$dirty && formData.email.$invalid">Please Enter a valid Email !!!</span>
                                <b class="error" ng-show="isEmailIdPresent">&nbsp;&nbsp;Email Id is already present</b>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Mobile :<b class="error">&nbsp;&nbsp;*</b></label>
                            <div class="col-md-5">
                                <input type="mobile" class="form-control" name="mobile" cleave="options.mobile" placeholder="Enter Mobile Number" ng-model="formData.mobile" required>
                                <span class="error" ng-show="myForm.mobile.$dirty && formData.mobile.$invalid">Mobile field is required !!!</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Role :</label>
                            <div class="col-md-5">
                                <input type="text" placeholder="Select Role" class="form-control" ng-model="formData.accessLevel" />
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-circle green" ng-if="showSaveBtn" ng-disabled="isEmailIdPresent || myForm.$invalid && myForm.$dirty || myForm.$pristine" ng-click="addOrEditUser(operation, formData)">Save</button>
                                <button type="submit" class="btn btn-circle green" ng-if="showEditBtn" ng-disabled="isEmailIdPresent || myForm.$invalid && myForm.$dirty || myForm.$pristine" ng-click="addOrEditUser(operation, formData)">Update</button>
                                <button type="button" class="btn btn-circle grey-salsa btn-outline" ng-click="cancelModal()">Cancel</button>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
    </div>
</div>