<div class="row">
    <div class="col-md-12 mar-b">
        <div class="portlet box green ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>User
                </div>
                <div class="tools">
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form class="form-horizontal" name="myForm">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-4 control-label">Name :</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" ng-model="formData.name" placeholder="Enter User Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Email Id :</label>
                            <div class="col-md-5">
                                <input type="email" class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" ng-model="formData.email" placeholder="Enter Email-Id Number">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Mobile :</label>
                            <div class="col-md-5">
                                <!-- <input type="text" cleave="options.phone" placeholder="Enter Mobile Number" class="form-control" ng-model="formData.mobile"
                                /> -->
                                <input type="mobile" class="form-control" cleave="options.mobile" placeholder="Enter Mobile Number" ng-model="formData.mobile">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Role :</label>
                            <div class="col-md-5">
                                <input type="text" placeholder="Select Role" class="form-control" ng-model="formData.accessLevel"
                                />
                                <!-- <input type="mobile" pattern="/^[0-9]/" minlength="10" maxlength="10" class="form-control" ng-model="formData.mobile"> -->
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-circle green" ng-if="showSaveBtn && myForm.$dirty" ng-click="addOrEditUser(operation, formData)">Save</button>
                                <button type="submit" class="btn btn-circle green" ng-if="showEditBtn && myForm.$dirty" ng-click="addOrEditUser(operation, formData)">Update</button>
                                <button type="button" class="btn btn-circle grey-salsa btn-outline" ng-click="cancelModal()">Cancel</button>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
    </div>
</div>