<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN SAMPLE TABLE PORTLET-->
        <!--<div class="portlet-body flip-scroll">
                <table class="table table-bordered table-striped  flip-content">
                     <tr>
                           <td>ID</td>
                            <td > Company </td>
                            <td > Sub Assembly Name </td>
                            <td > Quantity </td>
                            <td   colspan="6" > per item details </td>
                            <td> Extra column </td>
                               <td > ID</td>
                            <td > Company </td>
                            <td > Sub Assembly Name </td>
                            <td > Quantity </td>
                            <td   colspan="6" > per item details </td>
                            <td> Extra column </td>
                               <td > ID</td>
                            <td > Company </td>
                            <td > Sub Assembly Name </td>
                            <td > Quantity </td>
                            <td   colspan="6" > per item details </td>
                            <td> Extra column </td>
                          </tr>
                      <tbody>
                     </tbody>
                </table>
            </div>
       
    </div>-->
        <div>
            <table border='1'>
                <caption>Life Expectancy By Current Age</caption>
                <tr>
                    <th colspan="2" rowspan="2">65</th>
                    <th colspan="2">40</th>
                    <th colspan="2" rowspan="2">20</th>
                </tr>
                <tr>
                    <th>Men</th>
                    <th>Women</th>
                    
                </tr>
                <tr>
                    <td>82</td>
                    <td>85</td>
                    <td>78</td>
                    <td>82</td>
                    <td>77</td>
                    <td>81</td>
                </tr>
            </table>
        </div>
         <div >
                                <!-- BEGIN BORDERED TABLE PORTLET-->
                                <div class="portlet light portlet-fit bordered">
                                    <div class="portlet-title">
                                        <div class="caption">
                                            <i class="icon-bubble font-dark"></i>
                                            <span class="caption-subject font-dark bold uppercase">Bordered Table</span>
                                        </div>
                                        <div class="actions">
                                            <div class="btn-group">
                                                <a class="btn dark btn-outline btn-circle btn-sm" href="javascript:;" data-toggle="dropdown" data-hover="dropdown" data-close-others="true"> Actions
                                                    <i class="fa fa-angle-down"></i>
                                                </a>
                                                <ul class="dropdown-menu pull-right">
                                                    <li>
                                                        <a href="javascript:;"> Option 1</a>
                                                    </li>
                                                    <li class="divider"> </li>
                                                    <li>
                                                        <a href="javascript:;">Option 2</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;">Option 3</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:;">Option 4</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="portlet-body">
                                        <div class="table-scrollable">
                                            <table class="table table-bordered table-hover">
                                                <thead>
                                                    <tr>
                                                        <th> # </th>
                                                        <th> First Name </th>
                                                        <th> Last Name </th>
                                                        <th> Username </th>
                                                        <th> Status </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td rowspan="2"> 1 </td>
                                                        <td> Mark </td>
                                                        <td> Otto </td>
                                                        <td> makr124 </td>
                                                        <td>
                                                            <span class="label label-sm label-success"> Approved </span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td> Jacob </td>
                                                        <td> Nilson </td>
                                                        <td> jac123 </td>
                                                        <td>
                                                            <span class="label label-sm label-info"> Pending </span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td> 2 </td>
                                                        <td> Larry </td>
                                                        <td> Cooper </td>
                                                        <td> lar </td>
                                                        <td>
                                                            <span class="label label-sm label-warning"> Suspended </span>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td> 3 </td>
                                                        <td> Sandy </td>
                                                        <td> Lim </td>
                                                        <td> sanlim </td>
                                                        <td>
                                                            <span class="label label-sm label-danger"> Blocked </span>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <!-- END BORDERED TABLE PORTLET-->
                            </div>
    </div>

</div>