<div class="row">
    <div class="col-md-4">
    </div>
     <div class="col-md-4">
    </div>
     <div class="col-md-4">
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN SAMPLE TABLE PORTLET-->
      <div class="portlet-body flip-scroll">
                <table class="table table-bordered table-striped  flip-content">
                    <thead class="flip-content">
                        <tr>
                            <th > ID</th>
                            <th > Company </th>
                            <th > Sub Assembly Name </th>
                            <th > Quantity </th>
                            <th   colspan="6" > per item details </th>
                            <th> Extra column </th>
                            
                        </tr>
                         <tr>
                            <th colspan="4"> ID</th>
                            <th > Company </th>
                            <th > Sub Assembly Name </th>
                           
                            
                        </tr>
                      
                    </thead>
                    <tbody>
                        <tr>
                            <td> AAC </td>
                            <td> AUSTRALIAN  </td>
                            <td class="numeric"> &nbsp; </td>
                            <td class="numeric"> -0.01 </td>
                            <td class="numeric"> -0.36% </td>
                            <td class="numeric"> $1.39 </td>
                         </tr>
                      </tbody>
                </table>
            </div>
       
    </div>
</div>