<div class="row">
    <div class="col-md-12 mar-b">
        <div class="portlet box green ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Enquiries
                </div>
                <div class="tools">
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form class="form-horizontal">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-4 control-label">Enquiry Id:</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" ng-model="formData.enquiryId" autofocus>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Enquiry Name:</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" ng-model="formData.enquiryName">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Customer Name:</label>
                            <div class="col-md-5">
                                <select class="form-control" ng-options="c.customerName for c in customerData track by c._id" ng-model="selectedCustomer">        
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Enquiry Type:</label>
                            <div class="col-md-5">
                                <select class="form-control" ng-model="formData.enquiryDetails.enquiryType">
                                    <option></option>
                                    <option value='firmRfq'> FirmRfq</option>
                                    <option value='budgetary'>Budgetary</option>
                                    <option value='verbal'>Verbal</option>
                                    <option value='other'>Other</option>
                                </select>                           
                            </div>
                        </div>                      
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-circle green" ng-click="addEnquiry(formData, selectedCustomer)">Save</button>
                                <button type="button" class="btn btn-circle grey-salsa btn-outline" ng-click="cancelModal()">Cancel</button>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
    </div>
</div>