<div class="row">
    <div class="col-md-12">
        <div class="img-border">
            <div class="portlet light">
                <div class="portlet-title tabbable-line tabs-left">
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#" data-target="#tab_1_1" data-toggle="tab">Details</a>
                        </li>
                        <li>
                            <a href="#" data-target="#tab_1_2" data-toggle="tab" ng-if="editPermmission">Information</a>
                        </li>
                        <li>
                            <a href="#" data-target="#tab_1_3" data-toggle="tab" ng-if="editPermmission">Key Requirements</a>
                        </li>
                        <li>
                            <a href="#" data-target="#tab_1_4" data-toggle="tab" ng-if="editPermmission">Technical Req</a>
                        </li>
                        <li>
                            <a href="#" data-target="#tab_1_5" data-toggle="tab" ng-if="editPermmission">Commercial Req </a>
                        </li>
                        <li>
                            <a href="#" data-target="#tab_1_6" data-toggle="tab" ng-if="editPermmission">Pre-qualification Criteria </a>
                        </li>
                    </ul>
                </div>
                <div class="portlet-body">
                    <div class="tab-content">
                        <!-- Details INFO TAB -->
                        <div class="tab-pane active" id="tab_1_1">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="portlet light bordered">
                                        <div class="portlet-title">
                                            <div class="padd-t font-green-haze">
                                                <i class="icon-settings font-green-haze"></i>
                                                <span class="caption-subject bold uppercase"> Enquiry Details</span>
                                            </div>
                                        </div>
                                        <form role="form" class="form-horizontal" name="myForm1">
                                            <div class="portlet-body form">
                                                <div class="form-group form-md-line-input has-success">
                                                    <label class="col-md-2 control-label" for="form_control_1">Enquiry Id:</label>
                                                    <div class="col-md-3">
                                                        <input type="text" class="form-control" id="form_control_10" ng-model="formData.enquiryId" readonly>
                                                        <div class="form-control-focus"> </div>
                                                    </div>
                                                    <label class="col-md-2 control-label" for="form_control_1">Status:</label>
                                                    <div class="col-md-3">
                                                        <!-- <select class="form-control" ng-model="formData.enquiryDetails.enquiryStatus" ng-init="formData.enquiryDetails.enquiryStatus='open'" disabled>
                                                            <option></option>
                                                            <option value='open'>Open</option>
                                                            <option value='close'>Close</option>
                                                            <option value='hold'>Hold</option>
                                                        </select> -->
                                                        <input type="text" class="form-control" id="form_control_10" ng-model="formData.enquiryDetails.enquiryStatus" readonly>
                                                        <div class="form-control-focus"> </div>
                                                        <span class="error">{{enquiryValidation.status}}</span>
                                                        <div class="form-control-focus"> </div>
                                                    </div>
                                                </div>
                                                <div class="form-group form-md-line-input has-success">
                                                    <label class="col-md-2 control-label" for="form_control_1">Customer Name:
                                                        <span class="error">&nbsp;&nbsp;*</span>
                                                    </label>
                                                    <div class="col-md-3">
                                                        <select class="form-control" name="customername" ng-options="c.customerName for c in customerData track by c._id" ng-model="formData.customerDataObj"
                                                            ng-change="setCustomerData(formData.customerDataObj)" required>
                                                        </select>
                                                        <span class="error">{{enquiryValidation.customerName}}</span>
                                                        <span class="error" ng-show="myForm1.customername.$invalid && myForm1.customername.$dirty">Please fill in this field.</span>
                                                        <div class="form-control-focus"> </div>
                                                    </div>
                                                    <label class="col-md-2 control-label" for="form_control_1">Enquiry Type:</label>
                                                    <div class="col-md-3">
                                                        <select class="form-control" ng-model="formData.enquiryDetails.enquiryType">
                                                            <option></option>
                                                            <option value='firmRfq'>FirmRfq</option>
                                                            <option value='budgetary'>Budgetary</option>
                                                            <option value='verbal'>Verbal</option>
                                                            <option value='other'>Other</option>
                                                        </select>
                                                        <div class="form-control-focus"></div>
                                                    </div>
                                                </div>

                                                <div class="form-group form-md-line-input has-success">
                                                    <label class="col-md-2 control-label" for="form_control_1">Estimator:
                                                        <span class="error">&nbsp;&nbsp;*</span>
                                                    </label>
                                                    <div class="col-md-3">
                                                        <select class="form-control" ng-options="u.name for u in userData track by u._id" ng-model="formData.enquiryDetails.estimator"
                                                            ng-change="setEstimator(formData.enquiryDetails.estimator)" required>
                                                        </select>
                                                        <span class="error">{{enquiryValidation.estimator}}</span>
                                                        <div class="form-control-focus"> </div>
                                                    </div>
                                                    <label class="col-md-2 control-label" for="form_control_1">Customer Contact:</label>
                                                    <div class="col-md-3">
                                                        <input type="text" class="form-control" id="form_control_1" ng-model="formData.enquiryDetails.customerContacts">
                                                        <div class="form-control-focus"></div>
                                                    </div>
                                                </div>
                                                <div class="form-group form-md-line-input has-success">
                                                    <label class="col-md-2 control-label" for="form_control_1">Customer Location:</label>
                                                    <div class="col-md-3">
                                                        <input type="text" class="form-control" id="form_control_1" ng-model="formData.enquiryDetails.customerLocation" disabled>
                                                        <div class="form-control-focus"> </div>
                                                    </div>
                                                    <label class="col-md-2 control-label" for="form_control_1">Currency:</label>
                                                    <div class="col-md-3">
                                                        <select class="form-control" ng-model="formData.enquiryDetails.currency" ng-init="formData.enquiryDetails.currency='INR'">
                                                            <option value="INR"> INR </option>
                                                            <!-- <option>dollar</option>
                                                            <option>euro</option> -->
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group form-md-line-input has-success">
                                                    <label class="col-md-2 control-label" for="form_control_1">Delivery Location:
                                                        <span class="error">&nbsp;&nbsp;*</span>
                                                    </label>
                                                    <div class="col-md-3">
                                                        <input type="text" class="form-control" name="deliverylocation" id="form_control_1" ng-model="formData.enquiryDetails.deliveryLocation"
                                                            required>
                                                        <span class="error" ng-show="myForm1.deliverylocation.$invalid && myForm1.deliverylocation.$dirty">Please fill in this field </span>

                                                        <div class="form-control-focus"> </div>
                                                    </div>
                                                    <label class="col-md-2 control-label" for="form_control_1">Delivery Distant:</label>
                                                    <div class="col-md-3">
                                                        <input type="number" class="form-control" id="form_control_1" ng-model="formData.enquiryDetails.deliveryDistance">
                                                        <div class="form-control-focus"> </div>
                                                    </div>
                                                </div>
                                                <div class="form-group form-md-line-input has-success">
                                                    <label class="col-md-2 control-label" for="form_control_1">Project:</label>
                                                    <div class="col-md-3">
                                                        <input type="text" class="form-control" id="form_control_1" ng-model="formData.enquiryDetails.project">
                                                        <div class="form-control-focus"> </div>
                                                    </div>
                                                    <label class="col-md-2 control-label" for="form_control_1">Application Category:</label>
                                                    <div class="col-md-3">
                                                        <select class="form-control" ng-model="formData.enquiryDetails.applicationCategory">
                                                            <option></option>
                                                            <option value='extraction'>Extraction</option>
                                                            <option value='crushing'>Crushing</option>
                                                            <option value='grinding'>Grinding</option>
                                                            <option value='mixing'>Mixing</option>
                                                            <option value='screening'>Screening</option>
                                                            <option value='agglomeration'>Agglomeration</option>
                                                            <option value='transport'>Transport</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group form-md-line-input has-success">
                                                    <label class="col-md-2 control-label" for="form_control_1">OEM Equipment Name:</label>
                                                    <div class="col-md-3">
                                                        <input type="text" class="form-control" id="form_control_1" ng-model="formData.enquiryDetails.oemEquipmentName">
                                                        <div class="form-control-focus"> </div>
                                                    </div>
                                                    <label class="col-md-2 control-label" for="form_control_1">RFQ Description:</label>
                                                    <div class="col-md-3">
                                                        <input type="text" class="form-control" id="form_control_1" ng-model="formData.enquiryDetails.rfqDescription">
                                                        <div class="form-control-focus"> </div>
                                                    </div>
                                                </div>
                                                <div class="form-group form-md-line-input has-success">
                                                    <label class="col-md-2 control-label" for="form_control_1">RFQ No:</label>
                                                    <div class="col-md-3">
                                                        <input type="text" class="form-control" id="form_control_1" ng-model="formData.enquiryDetails.rfqNo">
                                                        <div class="form-control-focus"> </div>
                                                    </div>
                                                    <label class="col-md-2 control-label" for="form_control_1">RFQ Received Date:</label>
                                                    <div class="col-md-3" moment-picker="formData.enquiryDetails.rfqReceiveddDate" format="YYYY-MM-DD">
                                                        <input class="form-control" ng-model="formData.enquiryDetails.rfqReceiveddDate" ng-model-options="{ updateOn: 'blur' }" placeholder="Select a date in YYYY-MM-DD format">
                                                    </div>
                                                </div>
                                                <div class="form-group form-md-line-input has-success">
                                                    <label class="col-md-2 control-label" for="form_control_1">RFQ Due Date:</label>
                                                    <div class="col-md-3" moment-picker="formData.enquiryDetails.rfqDueDate" format="YYYY-MM-DD">
                                                        <input class="form-control" name="dueDate" ng-model="formData.enquiryDetails.rfqDueDate" ng-model-options="{ updateOn: 'blur' }"
                                                            placeholder="Select a date in YYYY-MM-DD format">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-actions">
                                                <div class="row">
                                                    <div class=" col-md-12 text-center">
                                                        <button type="button" class="btn blue" ng-if="myForm1.$dirty" ng-click="addEnquiryData(formData)" ng-disabled="myForm1.$dirty && myForm1.$invalid || myForm1.$pristine">Submit</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END Details INFO TAB -->
                        <!-- Information TAB -->
                        <div class="tab-pane" id="tab_1_2">
                            <div class="row">
                                <div class="col-md-12 ">
                                    <div class="portlet light bordered">
                                        <div class="portlet-title">
                                            <div class="padd-t font-green-haze">
                                                <i class="icon-settings font-green-haze"></i>
                                                <span class="caption-subject bold uppercase"> Information</span>
                                            </div>
                                        </div>
                                        <form role="form" class="form-horizontal" name="myForm2">
                                            <div class="portlet-body form">
                                                <div class="form-group form-md-line-input has-success">
                                                    <label class="col-md-2 control-label" for="form_control_1">RFQ copy:</label>
                                                    <div class="col-md-3">
                                                        <upload-all-files ng-model="formData.enquiryInfo.rfqCopy" icon="false" is-multiple="true" file-location="top"></upload-all-files>
                                                        <!--<div class="form-control-focus"> </div>-->
                                                    </div>
                                                    <label class="col-md-2 control-label" for="form_control_1">Drawings / Rev:</label>
                                                    <div class="col-md-3">
                                                        <upload-all-files ng-model="formData.enquiryInfo.drawings" icon="false" is-multiple="true" file-location="top"></upload-all-files>
                                                        <!--<div class="form-control-focus"> </div>-->
                                                    </div>
                                                </div>
                                                <div class="form-group form-md-line-input has-success">
                                                    <label class="col-md-2 control-label" for="form_control_1">Photos:</label>
                                                    <div class="col-md-3">
                                                        <upload-all-files ng-model="formData.enquiryInfo.photos" icon="false" is-multiple="true" file-location="top"></upload-all-files>
                                                        <!--<div class="form-control-focus"> </div>-->
                                                    </div>
                                                    <label class="col-md-2 control-label" for="form_control_1">Others docs:</label>
                                                    <div class="col-md-3">
                                                        <upload-all-files ng-model="formData.enquiryInfo.otherDocs" icon="false" is-multiple="true" file-location="top"></upload-all-files>
                                                        <!--<div class="form-control-focus"> </div>-->
                                                    </div>
                                                </div>
                                                <div class="form-group form-md-line-input has-success">
                                                    <label class="col-md-2 control-label" for="form_control_1">Technical Feedback:</label>
                                                    <div class="col-md-3">
                                                        <textarea class="form-control" name="" rows="2" ng-model="formData.enquiryInfo.technicalFeedback"></textarea>
                                                        <div class="form-control-focus"> </div>
                                                        <span class="help-block">Some help goes here...</span>
                                                    </div>
                                                    <label class="col-md-2 control-label" for="form_control_1">Commercial Feedback:</label>
                                                    <div class="col-md-3">
                                                        <textarea class="form-control" name="" rows="2" ng-model="formData.enquiryInfo.commercialFeedback"></textarea>
                                                        <div class="form-control-focus"> </div>
                                                        <span class="help-block">Some help goes here...</span>
                                                    </div>
                                                </div>
                                                <div class="form-group form-md-line-input has-success">
                                                    <label class="col-md-2 control-label" for="form_control_1">Remarks:</label>
                                                    <div class="col-md-3">
                                                        <textarea class="form-control" name="" rows="2" ng-model="formData.enquiryInfo.remarks"></textarea>
                                                        <div class="form-control-focus"> </div>
                                                        <span class="help-block">Some help goes here...</span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-actions">
                                                <div class="row">
                                                    <div class=" col-md-12 text-center">
                                                        <button type="button" class="btn blue" ng-click="addEnquiryData(formData)">Submit</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END Information TAB -->
                        <!-- Key Requirements TAB -->
                        <div class="tab-pane" id="tab_1_3">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="portlet light bordered">
                                        <div class="portlet-title">
                                            <div class="padd-t font-green-haze">
                                                <i class="icon-settings font-green-haze"></i>
                                                <span class="caption-subject bold uppercase"> Key Requirements</span>
                                                <!-- <div class="pull-right">
                                                    <span class="caption-subject bold"> {{operationStatus}}</span>
                                                </div> -->
                                            </div>
                                        </div>
                                        <form role="form" class="form-horizontal" name="myForm3">
                                            <div class="portlet-body form">
                                                <div class="form-group form-md-line-input has-success">
                                                    <label class="col-md-3 control-label" for="form_control_1">NDA agreement:</label>
                                                    <div class="col-md-6">
                                                        <upload-all-files ng-model="formData.keyRequirement.ndaAgreement" is-multiple="true" icon="false" file-location="top"></upload-all-files>
                                                        <!--<div class="form-control-focus"> </div>-->
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-actions">
                                                <div class="row">
                                                    <div class=" col-md-12 text-center">
                                                        <button type="button" class="btn blue" ng-click="addEnquiryData(formData)">Submit</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END Key RequirementsTAB -->
                        <!-- Technical Req TAB -->
                        <div class="tab-pane" id="tab_1_4">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="portlet light bordered">
                                        <div class="portlet-title">
                                            <div class="padd-t font-green-haze">
                                                <i class="icon-settings font-green-haze"></i>
                                                <span class="caption-subject bold uppercase"> Technical requirements:</span>
                                            </div>
                                        </div>
                                        <form role="form" class="form-horizontal" name="myForm4">
                                            <div class="portlet-body form">
                                                <div class="form-group form-md-line-input has-success">
                                                    <label class="col-md-2 control-label" for="form_control_1">Design:</label>
                                                    <div class="col-md-3">
                                                        <input type="text" class="form-control" id="form_control_1" ng-model="formData.technicalRequirement.design" autofocus>
                                                        <div class="form-control-focus"> </div>
                                                    </div>
                                                    <label class="col-md-2 control-label" for="form_control_1">Fabrication:</label>
                                                    <div class="col-md-3">
                                                        <input type="text" class="form-control" id="form_control_1" ng-model="formData.technicalRequirement.fabrication">
                                                        <div class="form-control-focus"> </div>
                                                    </div>
                                                </div>
                                                <div class="form-group form-md-line-input has-success">
                                                    <label class="col-md-2 control-label" for="form_control_1">Preparation:</label>
                                                    <div class="col-md-3">
                                                        <input type="text" class="form-control" id="form_control_1" ng-model="formData.technicalRequirement.preparation">
                                                        <div class="form-control-focus"> </div>
                                                    </div>
                                                    <label class="col-md-2 control-label" for="form_control_1">Site services:</label>
                                                    <div class="col-md-3">
                                                        <input type="text" class="form-control" id="form_control_1" ng-model="formData.technicalRequirement.siteServices">
                                                        <div class="form-control-focus"> </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-actions">
                                                <div class="row">
                                                    <div class=" col-md-12 text-center">
                                                        <button type="button" class="btn blue" ng-if="myForm4.$dirty" ng-click="addEnquiryData(formData)">Submit</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END Technical Req TAB -->
                        <!-- Commercial Req TAB -->
                        <div class="tab-pane" id="tab_1_5">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="portlet light bordered">
                                        <div class="portlet-title">
                                            <div class="padd-t font-green-haze">
                                                <i class="icon-settings font-green-haze"></i>
                                                <span class="caption-subject bold uppercase"> Commercial Requirements:</span>
                                            </div>
                                        </div>
                                        <form role="form" class="form-horizontal" name="myForm5">
                                            <div class="portlet-body form">
                                                <div class="form-group form-md-line-input has-success">
                                                    <label class="col-md-2 control-label" for="form_control_1">Warranty required:</label>
                                                    <div class="col-md-3">
                                                        <input type="text" class="form-control" id="form_control_1" ng-model="formData.commercialRequirement.warrantyRequired" autofocus>
                                                        <div class="form-control-focus"> </div>
                                                    </div>
                                                    <label class="col-md-2 control-label" for="form_control_1">Payment terms:</label>
                                                    <div class="col-md-3">
                                                        <input type="text" class="form-control" id="form_control_1" ng-model="formData.commercialRequirement.paymentTerms">
                                                        <div class="form-control-focus"> </div>
                                                    </div>
                                                </div>
                                                <div class="form-group form-md-line-input has-success">
                                                    <label class="col-md-2 control-label" for="form_control_1">Retention terms:</label>
                                                    <div class="col-md-3">
                                                        <input type="text" class="form-control" id="form_control_1" ng-model="formData.commercialRequirement.retentionTerms">
                                                        <div class="form-control-focus"> </div>
                                                    </div>
                                                    <label class="col-md-2 control-label" for="form_control_1"> LD/Penalties:</label>
                                                    <div class="col-md-3">
                                                        <input type="text" class="form-control" id="form_control_1" ng-model="formData.commercialRequirement.ldOrPenalties">
                                                        <div class="form-control-focus"> </div>
                                                    </div>
                                                </div>
                                                <div class="form-group form-md-line-input has-success">
                                                    <label class="col-md-2 control-label" for="form_control_1"> Security deposit:</label>
                                                    <div class="col-md-3">
                                                        <input type="text" class="form-control" id="form_control_1" ng-model="formData.commercialRequirement.securityDeposit">
                                                        <div class="form-control-focus"> </div>
                                                    </div>
                                                    <label class="col-md-2 control-label" for="form_control_1"> EMD:</label>
                                                    <div class="col-md-3">
                                                        <input type="text" class="form-control" id="form_control_1" ng-model="formData.commercialRequirement.emd">
                                                        <div class="form-control-focus"> </div>
                                                    </div>
                                                </div>
                                                <div class="form-group form-md-line-input has-success">
                                                    <label class="col-md-2 control-label" for="form_control_1"> Other:</label>
                                                    <div class="col-md-3">
                                                        <input type="text" class="form-control" id="form_control_1" ng-model="formData.commercialRequirement.other1">
                                                        <div class="form-control-focus"> </div>
                                                    </div>
                                                    <label class="col-md-2 control-label" for="form_control_1"> Other:</label>
                                                    <div class="col-md-3">
                                                        <input type="text" class="form-control" id="form_control_1" ng-model="formData.commercialRequirement.other2">
                                                        <div class="form-control-focus"> </div>
                                                    </div>
                                                </div>
                                                <div class="form-group form-md-line-input has-success">
                                                    <label class="col-md-2 control-label" for="form_control_1"> Other:</label>
                                                    <div class="col-md-3">
                                                        <input type="text" class="form-control" id="form_control_1" ng-model="formData.commercialRequirement.other3">
                                                        <div class="form-control-focus"> </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-actions">
                                                <div class="row">
                                                    <div class=" col-md-12 text-center">
                                                        <button type="button" class="btn blue" ng-if="myForm5.$dirty" ng-click="addEnquiryData(formData)">Submit</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- END Commercial Req TAB -->
                        <!-- Pre-qualification Criteria TAB -->
                        <div class="tab-pane" id="tab_1_6">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="portlet light bordered">
                                        <div class="portlet-title">
                                            <div class="padd-t font-green-haze">
                                                <i class="icon-settings font-green-haze"></i>
                                                <span class="caption-subject bold uppercase"> Pre-qualification criteria:</span>
                                            </div>
                                        </div>
                                        <form role="form" class="form-horizontal" name="myForm6">
                                            <div class="portlet-body form">
                                                <div class="form-group form-md-line-input has-success">
                                                    <label class="col-md-2 control-label" for="form_control_1">Detail:</label>
                                                    <div class="col-md-3">
                                                        <input type="text" class="form-control" id="form_control_1" ng-model="formData.preQualificationCriteria.detail" autofocus>
                                                        <div class="form-control-focus"> </div>
                                                    </div>
                                                    <label class="col-md-2 control-label" for="form_control_1">Paint specs:</label>
                                                    <div class="col-md-3">
                                                        <input type="text" class="form-control" id="form_control_1" ng-model="formData.preQualificationCriteria.paintSpecs">
                                                        <div class="form-control-focus"> </div>
                                                    </div>
                                                </div>
                                                <div class="form-group form-md-line-input has-success">
                                                    <label class="col-md-2 control-label" for="form_control_1">Freight:</label>
                                                    <div class="col-md-3">
                                                        <input type="text" class="form-control" id="form_control_1" ng-model="formData.preQualificationCriteria.freight">
                                                        <div class="form-control-focus"> </div>
                                                    </div>
                                                    <label class="col-md-2 control-label" for="form_control_1"> Other:</label>
                                                    <div class="col-md-3">
                                                        <input type="text" class="form-control" id="form_control_1" ng-model="formData.preQualificationCriteria.other1">
                                                        <div class="form-control-focus"> </div>
                                                    </div>
                                                </div>
                                                <div class="form-group form-md-line-input has-success">
                                                    <label class="col-md-2 control-label" for="form_control_1">Other:</label>
                                                    <div class="col-md-3">
                                                        <input type="text" class="form-control" id="form_control_1" placeholder="Sales Zone" ng-model="formData.preQualificationCriteria.other2">
                                                        <div class="form-control-focus"> </div>
                                                    </div>
                                                    <label class="col-md-2 control-label" for="form_control_1"> Other:</label>
                                                    <div class="col-md-3">
                                                        <input type="text" class="form-control" id="form_control_1" placeholder="Sales Zone" ng-model="formData.preQualificationCriteria.other3">
                                                        <div class="form-control-focus"> </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-actions">
                                                <div class="row">

                                                    <div class=" col-md-12 text-center">
                                                        <button type="button" class="btn blue" ng-if="myForm6.$dirty" ng-click="addEnquiryData(formData)">Submit</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- ENDPre-qualification Criteria TAB -->
                    </div>
                </div>
                <!--Go to Estimate view-->
                <!-- <div class="btn-group pull-right">
                    <button id="sample_editable_1_new" class="btn green" ng-click="saveAssemblyNameModal(formData._id,enquiryId)" ng-if="showEstimateBtn"> Estimate </button>
                </div> -->
                <div class="btn-group pull-right">
                    <button id="sample_editable_1_new" class="btn green" ng-click="saveAssemblyNameModal(formData._id,enquiryId)" ng-if="showEstimateBtn">
                        Estimate </button>
                </div>
                <!-- start of table-->
                <div class="portlet-body" ng-if="!showEstimateBtn">
                    <div class="table-scrollable" ng-hide="versionData.length == 0">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th> ID </th>
                                    <th> Estimate Version </th>
                                    <th> Created By User </th>
                                    <th> Last Updated By User </th>
                                    <th> Created Date </th>
                                    <th> Updated Date </th>
                                    <th class="text-center"> Excel Export </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="v in versionData track by $index">
                                    <td> {{$index + 1}} </td>
                                    <td> {{v.estimateVersion}} </td>
                                    <td> {{v.estimateCreatedUser.name}} </td>
                                    <td> {{v.estimateUpdatedUser.name}} </td>
                                    <td> {{v.createdAt | date:'dd/mm/yyyy'}} </td>
                                    <td> {{v.updatedAt | date:'dd/mm/yyyy'}} </td>
                                    <td class="text-center">
                                        <button id="sample_editable_1_new" class="btn green circle" ng-click="getExcelSheet(v._id)">
                                            Export </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!--<upload-image ng-model="formData.files" multiple="true" ></upload-image>-->
            </div>
        </div>
    </div>
    <!--end of table-->
</div>