<div class="row">
    <div class="col-md-12">
        <div class="portlet light">
            <div class="portlet-title tabbable-line tabs-left">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#" data-target="#tab_1_1" data-toggle="tab">Details</a>
                    </li>
                    <li>
                        <a href="#" data-target="#tab_1_2" data-toggle="tab">Information</a>
                    </li>
                    <li>
                        <a href="#" data-target="#tab_1_3" data-toggle="tab">Key Requirements</a>
                    </li>
                    <li>
                        <a href="#" data-target="#tab_1_4" data-toggle="tab">Technical Req</a>
                    </li>
                    <li>
                        <a href="#" data-target="#tab_1_5" data-toggle="tab">Commercial Req </a>
                    </li>
                    <li>
                        <a href="#" data-target="#tab_1_6" data-toggle="tab">Pre-qualification Criteria </a>
                    </li>
                </ul>
            </div>
            <div class="portlet-body">
                <div class="tab-content">
                    <!-- Details INFO TAB -->
                    <div class="tab-pane active" id="tab_1_1">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="portlet light bordered">
                                    <div class="portlet-title">
                                        <div class="caption font-green-haze">
                                            <i class="icon-settings font-green-haze"></i>
                                            <span class="caption-subject bold uppercase"> Horizontal Form</span>
                                        </div>
                                    </div>
                                    <form role="form" class="form-horizontal">
                                        <div class="portlet-body form">
                                            <div class="form-group form-md-line-input has-success">
                                                <label class="col-md-3 control-label" for="form_control_1">Enquiry Id:</label>
                                                <div class="col-md-8">
                                                    <input type="tel" class="form-control" id="form_control_1" placeholder="Enquiry Id">
                                                    <div class="form-control-focus"> </div>
                                                </div>
                                            </div>
                                            <div class="form-group form-md-line-input has-success">
                                                <label class="col-md-3 control-label" for="form_control_1">Status:</label>
                                                <div class="col-md-8">
                                                    <input type="text" class="form-control" id="form_control_1" placeholder="Status">
                                                    <div class="form-control-focus"> </div>
                                                </div>
                                            </div>
                                            <div class="form-group form-md-line-input has-success">
                                                <label class="col-md-3 control-label" for="form_control_1">Customer Name:</label>
                                                <div class="col-md-8">
                                                    <input type="text" class="form-control" id="form_control_1" placeholder="Customer Name">
                                                    <div class="form-control-focus"> </div>
                                                </div>
                                            </div>
                                            <div class="form-group form-md-line-input has-success">
                                                <label class="col-md-3 control-label" for="form_control_1">Customer Contact:</label>
                                                <div class="col-md-8">
                                                    <input type="text" class="form-control" id="form_control_1" placeholder="Customer Contact">
                                                    <div class="form-control-focus"> </div>
                                                </div>
                                            </div>
                                            <div class="form-group form-md-line-input has-success">
                                                <label class="col-md-3 control-label" for="form_control_1">Customer Location:</label>
                                                <div class="col-md-8">
                                                    <input type="text" class="form-control" id="form_control_1" placeholder="Customer Location">
                                                    <div class="form-control-focus"> </div>
                                                </div>
                                            </div>
                                            <div class="form-group form-md-line-input has-success">
                                                <label class="col-md-3 control-label" for="form_control_1">Delivery Location:</label>
                                                <div class="col-md-8">
                                                    <input type="text" class="form-control" id="form_control_1" placeholder="Delivery Location">
                                                    <div class="form-control-focus"> </div>
                                                </div>
                                            </div>
                                            <div class="form-group form-md-line-input has-success">
                                                <label class="col-md-3 control-label" for="form_control_1">Currency:</label>
                                                <div class="col-md-8">
                                                    <input type="tel" class="form-control" id="form_control_1" placeholder="Currency">
                                                    <div class="form-control-focus"> </div>
                                                </div>
                                            </div>
                                            <div class="form-group form-md-line-input has-success">
                                                <label class="col-md-3 control-label" for="form_control_1">Application Category:</label>
                                                <div class="col-md-8">
                                                    <input type="text" class="form-control" id="form_control_1" placeholder="Application Category">
                                                    <div class="form-control-focus"> </div>
                                                </div>
                                            </div>
                                            <div class="form-group form-md-line-input has-success">
                                                <label class="col-md-3 control-label" for="form_control_1">Application Category:</label>
                                                <div class="col-md-8">
                                                    <input type="text" class="form-control" id="form_control_1" placeholder="Application Category">
                                                    <div class="form-control-focus"> </div>
                                                </div>
                                            </div>
                                            <div class="form-group form-md-line-input has-success">
                                                <label class="col-md-3 control-label" for="form_control_1">OEM Equipment Name:</label>
                                                <div class="col-md-8">
                                                    <input type="text" class="form-control" id="form_control_1" placeholder="OEM Equipment Name">
                                                    <div class="form-control-focus"> </div>
                                                </div>
                                            </div>
                                            <div class="form-group form-md-line-input has-success">
                                                <label class="col-md-3 control-label" for="form_control_1">RFQ Description:</label>
                                                <div class="col-md-8">
                                                    <input type="text" class="form-control" id="form_control_1" placeholder="RFQ Description">
                                                    <div class="form-control-focus"> </div>
                                                </div>
                                            </div>
                                            <div class="form-group form-md-line-input has-success">
                                                <label class="col-md-3 control-label" for="form_control_1">RFQ No:</label>
                                                <div class="col-md-8">
                                                    <input type="tel" class="form-control" id="form_control_1" placeholder="RFQ No">
                                                    <div class="form-control-focus"> </div>
                                                </div>
                                            </div>
                                            <div class="form-group form-md-line-input has-success">
                                                <label class="col-md-3 control-label" for="form_control_1">RFQ Received Date:</label>
                                                <div class="col-md-8">
                                                    <input type="tel" class="form-control" id="form_control_1" placeholder="RFQ Received Date">
                                                    <div class="form-control-focus"> </div>
                                                </div>
                                            </div>
                                            <div class="form-group form-md-line-input has-success">
                                                <label class="col-md-3 control-label" for="form_control_1">RFQ Due Date:</label>
                                                <div class="col-md-8">
                                                    <input type="text" class="form-control" id="form_control_1" placeholder="RFQ Due Date">
                                                    <div class="form-control-focus"> </div>
                                                </div>
                                            </div>
                                            <div class="form-group form-md-line-input has-success">
                                                <label class="col-md-3 control-label" for="form_control_1">Sales Zone:</label>
                                                <div class="col-md-8">
                                                    <input type="text" class="form-control" id="form_control_1" placeholder="Sales Zone">
                                                    <div class="form-control-focus"> </div>
                                                </div>
                                            </div>
                                            <div class="form-group form-md-line-input has-success padd-b">
                                                <label class="col-md-3 control-label" for="form_control_1">Saleman:</label>
                                                <div class="col-md-8">
                                                    <input type="text" class="form-control" id="form_control_1" placeholder="Sales Zone">
                                                    <div class="form-control-focus"> </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-actions">
                                            <div class="row">
                                                <div class=" col-md-12 text-center">
                                                    <button type="button" class="btn blue">Submit</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END Details INFO TAB -->
                    <!-- Information TAB -->
                    <div class="tab-pane" id="tab_1_2">
                        <div class="row">
                        </div>
                    </div>
                    <!-- END Information TAB -->
                    <!-- Key Requirements TAB -->
                    <div class="tab-pane" id="tab_1_3">
                        <form action="#">
                            <div class="form-group">
                                <label class="control-label">Current Password</label>
                                <input type="password" class="form-control" /> </div>
                            <div class="form-group">
                                <label class="control-label">New Password</label>
                                <input type="password" class="form-control" /> </div>
                            <div class="form-group">
                                <label class="control-label">Re-type New Password</label>
                                <input type="password" class="form-control" /> </div>
                            <div class="margin-top-10">
                                <a href="#" class="btn green-haze"> Change Password </a>
                                <a href="#" class="btn default"> Cancel </a>
                            </div>
                        </form>
                    </div>
                    <!-- END Key RequirementsTAB -->
                    <!-- Technical Req TAB -->
                    <div class="tab-pane" id="tab_1_4">
                        <form action="#">
                            <table class="table table-light table-hover">
                                <tr>
                                    <td> Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus.. </td>
                                    <td>
                                        <label class="uniform-inline">
                                            <input type="radio" name="optionsRadios1" value="option1" /> Yes </label>
                                        <label class="uniform-inline">
                                            <input type="radio" name="optionsRadios1" value="option2" checked/> No </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td> Enim eiusmod high life accusamus terry richardson ad squid wolf moon </td>
                                    <td>
                                        <label class="uniform-inline">
                                            <input type="checkbox" value="" /> Yes </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td> Enim eiusmod high life accusamus terry richardson ad squid wolf moon </td>
                                    <td>
                                        <label class="uniform-inline">
                                            <input type="checkbox" value="" /> Yes </label>
                                    </td>
                                </tr>
                                <tr>
                                    <td> Enim eiusmod high life accusamus terry richardson ad squid wolf moon </td>
                                    <td>
                                        <label class="uniform-inline">
                                            <input type="checkbox" value="" /> Yes </label>
                                    </td>
                                </tr>
                            </table>
                            <!--end profile-settings-->
                            <div class="margin-top-10">
                                <a href="#" class="btn green-haze"> Save Changes </a>
                                <a href="#" class="btn default"> Cancel </a>
                            </div>
                        </form>
                    </div>
                    <!-- END Technical Req TAB -->
                    <!-- Commercial Req TAB -->
                    <div class="tab-pane" id="tab_1_5">
                    </div>
                    <!-- END Commercial Req TAB -->
                    <!-- Pre-qualification Criteria TAB -->
                    <div class="tab-pane" id="tab_1_6">
                        <form action="#">
                            <div class="form-group">
                                <label class="control-label">Current Password</label>
                                <input type="password" class="form-control" /> </div>
                            <div class="form-group">
                                <label class="control-label">New Password</label>
                                <input type="password" class="form-control" /> </div>
                            <div class="form-group">
                                <label class="control-label">Re-type New Password</label>
                                <input type="password" class="form-control" /> </div>
                            <div class="margin-top-10">
                                <a href="#" class="btn green-haze"> Change Password </a>
                                <a href="#" class="btn default"> Cancel </a>
                            </div>
                        </form>
                    </div>
                    <!-- ENDPre-qualification Criteria TAB -->
                </div>
            </div>
            <!-- start of table-->
            <div class="portlet-body">
                <div class="table-scrollable">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th> Estimate Id </th>
                                <th> Estimate Version </th>
                                <th> Created By User </th>
                                <th> Last Updated By User </th>
                                <th> Created Date </th>
                                <th> Updated Date </th>
                                <th>EC </th>
                                <th>EC </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td> 1 </td>
                                <td> Mark </td>
                                <td> Otto </td>
                                <td> makr124 </td>
                                <td>20/5/2017 </td>
                                <td>20/5/2017</td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td> Jacob </td>
                                <td> Nilson </td>
                                <td> jac123 </td>
                                <td>20/5/2017 </td>
                                <td>20/5/2017</td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td> 3 </td>
                                <td> Larry </td>
                                <td> Cooper </td>
                                <td> lar </td>
                                <td>20/5/2017 </td>
                                <td>20/5/2017</td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td> 3 </td>
                                <td> Sandy </td>
                                <td> Lim </td>
                                <td> sanlim </td>
                                <td>20/5/2017 </td>
                                <td>20/5/2017</td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!--end of table-->
</div>
<script>
    UITree.init(); // init todo page
</script>