<div class="row">
    <div class="col-md-12 mar-b">
        <div class="portlet box green ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-info-circle"></i>Global Variables
                </div>
                <span style="padding-top: 12px;" ng-click="cancelModal()" class="pull-right">
                    <i class="fa fa-times btn-info"></i>
                </span>
            </div>
            <div class="portlet-body form">
                <form class="form-horizontal">
                    <div class="form-body">
                        <div class="form-group">
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th class="text-center">Var Name</th>
                                        <th class="text-center">Alias</th>
                                        <th class="text-center">Unit</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Size Factor</td>
                                        <td>sf</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Form Factor</td>
                                        <td>ff</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Thickness</td>
                                        <td>t</td>
                                        <td>mm</td>
                                    </tr>
                                    <tr>
                                        <td>Length</td>
                                        <td>l</td>
                                        <td>m</td>
                                    </tr>
                                    <tr>
                                        <td>Wastage</td>
                                        <td>wtg</td>
                                        <td>%</td>
                                    </tr>
                                    <tr>
                                        <td>Perimeter</td>
                                        <td>p</td>
                                        <td>m</td>
                                    </tr>
                                    <tr>
                                        <td>Sheet Metal Area</td>
                                        <td>sma</td>
                                        <td>m</td>
                                    </tr>
                                    <tr>
                                        <td>Surface Area</td>
                                        <td>sa</td>
                                        <td>m</td>
                                    </tr>
                                    <tr>
                                        <td>Gross Weight</td>
                                        <td>gwt</td>
                                        <td>kg</td>
                                    </tr>
                                    <tr>
                                        <td>Net Weight</td>
                                        <td>nwt</td>
                                        <td>kg</td>
                                    </tr>
                                    <tr>
                                        <td>Weight Per Unit</td>
                                        <td>wup</td>
                                        <td>kg</td>
                                    </tr>
                                    <tr>
                                        <td>Efficiency</td>
                                        <td>eff</td>
                                        <td>%</td>
                                    </tr>
                                    <tr>
                                        <td>Density</td>
                                        <td>den</td>
                                        <td>
                                            <span>g/cm
                                                <sup>3</sup>
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Rolling Index </td>
                                        <td>ri</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Cutting Index</td>
                                        <td>ci</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Bending Index</td>
                                        <td>bi</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Fabrication Index</td>
                                        <td>fi</td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>