  <div class="portlet light portlet-fit bordered">
                        <div class="portlet-title">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="caption">
                                        <i class="icon-settings font-red"></i>
                                        <span class="caption-subject font-red sbold uppercase">Default Processing</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="btn-group pull-right">
                                        <button id="sample_editable_1_new" class="btn green" ng-click="processing();"> <i class="fa fa-plus" ></i> </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="table-toolbar">
                                <div class="row">
                                    <div class="col-md-6">
                                    </div>
                                    <div class="col-md-6">
                                    </div>
                                </div>
                            </div>
                            <!-- BEGIN BORDERED TABLE PORTLET-->
                            <div class="portlet-body">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th rowspan="2" class="align-top"> Id </th>
                                            <th rowspan="2" class="align-top"> Processing</th>
                                            <th rowspan="2" class="align-top">Type </th>
                                            <th rowspan="2" class="align-top">Rate </th>
                                            <th colspan="4" class="text-center" class="align-top"> Per item detail </th>
                                            <th rowspan="2" class="align-top"> Total Cost</th>
                                            <th rowspan="2" class="align-top"> Remarks</th>
                                            <th rowspan="2" class="align-top"> extra column </th>
                                        </tr>
                                        <tr>
                                            <th>Key Value</th>
                                            <th>Utilization</th>
                                            <th>Contegency Wastage</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td> 1 </td>
                                            <td> Mark </td>
                                            <td>5 </td>
                                            <td>24 </td>
                                            <td>400 </td>
                                            <td>500 </td>
                                            <td> 600 </td>
                                            <td> 900</td>
                                            <td> 300</td>
                                            <td> Approved</td>
                                            <td> Approved </td>
                                        </tr>
                                        <tr>
                                            <td> 1 </td>
                                            <td> Mark </td>
                                            <td>5 </td>
                                            <td>24 </td>
                                            <td>400 </td>
                                            <td>500 </td>
                                            <td> 600 </td>
                                            <td> 900</td>
                                            <td> 300</td>
                                            <td> Approved</td>
                                            <td> Approved </td>
                                        </tr>
                                        <tr>
                                            <td> 1 </td>
                                            <td> Mark </td>
                                            <td>5 </td>
                                            <td>24 </td>
                                            <td>400 </td>
                                            <td>500 </td>
                                            <td> 600 </td>
                                            <td> 900</td>
                                            <td> 300</td>
                                            <td> Approved</td>
                                            <td> Approved </td>
                                        </tr>
                                        <tr>
                                            <td colspan="8" class="align-right"> Total</td>
                                            <!--<td> </td>-->
                                            <td>5 </td>
                                            <td>24 </td>
                                            <td>24 </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- END BORDERED TABLE PORTLET-->
                        </div>
                    </div>