<div class="row">
    <div class="col-md-12">
        <!--<div class="close-modal pull-right" ng-click="$dismiss()">
            <i class=" fa fa-times-circle " aria-hidden="true "></i></div>-->
        <div class="row">
            <div class="col-md-12">
                <div class="portlet light">
                    <div class="portlet-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="portlet light bordered">
                                    <div class="portlet-title">
                                        <div class="caption font-green-haze">
                                            <i class="icon-settings font-green-haze"></i>
                                            <span class="caption-subject bold uppercase"> Horizontal Form</span>
                                        </div>
                                    </div>
                                    <form role="form" class="form-horizontal">
                                        <div class="portlet-body form">
                                            <div class="form-group form-md-line-input has-success">
                                                <label class="col-md-3 control-label" for="form_control_1">Process Type Name:</label>
                                                <div class="col-md-8">
                                                    <input type="text" class="form-control" id="form_control_1" placeholder="Enquiry Id">
                                                    <div class="form-control-focus"> </div>
                                                </div>
                                            </div>
                                            <div class="form-group form-md-line-input has-success">
                                                <label class="col-md-3 control-label" for="form_control_1">Process Category:</label>
                                                <div class="col-md-8">
                                                    <select class="form-control edited" id="form_control_1">
                                                        <option value=""></option>
                                                        <option value="1" selected="">Option 1</option>
                                                        <option value="2">Option 2</option>
                                                        <option value="3">Option 3</option>
                                                        <option value="4">Option 4</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group form-md-line-input has-success">
                                                <label class="col-md-3 control-label" for="form_control_1">Rate</label>
                                            </div>
                                            <div class="form-group form-md-line-input has-success">
                                                <label class="col-md-3 control-label" for="form_control_1">Multiplication Factor:</label>
                                                <div class="col-md-8">
                                                    <input type="text" class="form-control" id="form_control_1" placeholder="Customer Contact">
                                                    <div class="form-control-focus"> </div>
                                                </div>
                                            </div>
                                            <div class="form-group form-md-line-input has-success">
                                                <label class="col-md-3 control-label" for="form_control_1">UOM :</label>
                                                <div class="col-md-8">
                                                    <input type="text" class="form-control" id="form_control_1" placeholder="Customer Location">
                                                    <div class="form-control-focus"> </div>
                                                </div>
                                            </div>
                                            <div class="form-group form-md-line-input has-success">
                                                <label class="col-md-3 control-label" for="form_control_1"> Quentity:</label>
                                            </div>
                                            <div class="form-group form-md-line-input has-success">
                                                <label class="col-md-3 control-label" for="form_control_1">Linked Value:</label>
                                                <div class="col-md-8">
                                                    <select class="form-control edited" id="form_control_1">
                                                        <option value=""></option>
                                                        <option value="1" selected=""></option>
                                                        <option value="2">Perimeter</option>
                                                        <option value="3"> SMA</option>
                                                        <option value="4">SA</option>
                                                          <option value="4">WT</option>
                                                            <option value="4">Nos</option>
                                                              <option value="4">Hrs</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group form-md-line-input has-success">
                                                <label class="col-md-3 control-label" for="form_control_1">UOM:</label>
                                                <div class="col-md-8">
                                                    <input type="text" class="form-control" id="form_control_1" placeholder="Currency">
                                                    <div class="form-control-focus"> </div>
                                                </div>
                                            </div>
                                            <div class="form-group form-md-line-input has-success">
                                                <label class="col-md-3 control-label" for="form_control_1">Maultification Factor:</label>
                                                <div class="col-md-8">
                                                    <input type="text" class="form-control" id="form_control_1" placeholder="Application Category">
                                                    <div class="form-control-focus"> </div>
                                                </div>
                                            </div>
                                            <div class="form-group form-md-line-input has-success">
                                                <label class="col-md-3 control-label" for="form_control_1">Utilization:</label>
                                                <div class="col-md-8">
                                                    <input type="text" class="form-control" id="form_control_1" placeholder="Application Category">
                                                    <div class="form-control-focus"> </div>
                                                </div>
                                            </div>
                                            <div class="form-group form-md-line-input has-success">
                                                <label class="col-md-3 control-label" for="form_control_1">Contigencey or Wasteage:</label>
                                                <div class="col-md-8">
                                                    <input type="text" class="form-control" id="form_control_1" placeholder="OEM Equipment Name">
                                                    <div class="form-control-focus"> </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-actions">
                                            <div class="row">
                                                <div class=" col-md-12 text-center">
                                                    <button type="button" class="btn blue">Submit</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end of table-->
        </div>
    </div>
</div>