 $output-bourbon-deprecation-warnings: false;
 @import "../../bower_components/bourbon/app/assets/stylesheets/bourbon";
 @import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
 @import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap-sprockets";
 @import "../../bower_components/flexslider/flexslider";
 @import "../../bower_components/font-awesome/scss/font-awesome";
 @import "../../bower_components/angular-ui-swiper/dist/angular-ui-swiper";
 //  @import "../../bower_components/fancyBox/dist/jquery.fancybox";
 @import "../../bower_components/smart-app-banner/smart-app-banner";
 @import "../../bower_components/angular-promise-buttons/src/styles/style";
 @import "../../bower_components/angular-toastr/dist/angular-toastr";
 /****** Please Import Libraries Above This!!!!!! ******/

@import "../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import "main";

 @import "http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all";
//  @import "../../frontend/themeassets/global/plugins/font-awesome/css/font-awesome.min.css";
 @import "../../frontend/themeassets/global/plugins/simple-line-icons/simple-line-icons.min.css";
 @import "../../frontend/themeassets/global/plugins/bootstrap-switch/css/bootstrap-switch.min.css";
 @import "../../frontend/themeassets/global/css/components.min.css";
 @import "../../frontend/themeassets/global/css/plugins.min.css";
 @import "../../frontend/themeassets/layouts/layout/css/layout.min.css";
 @import "../../frontend/themeassets/layouts/layout/css/themes/darkblue.min.css";
 @import "../../frontend/themeassets/layouts/layout/css/custom.min.css";
 @import "../../frontend/css/mycss.css";
 


 @import "other/fancybox-override";
 @import "responsive/lg";
 @import "responsive/md";
 @import "responsive/sm";
 @import "responsive/xs";