@media (min-width: 992px) {
  .hideSideBar{
    margin-left: 0px !important;
  }
}
/**********************************css given by kishori************************/
/***masters ***/
/*base master css*/
/*
tree css*/
.uomCreateIcon{
      right: 23.5% !important;
    position: absolute;
}
.uomEditIcon{
      right: 15.5%;
    position: absolute;
}