<div class="row">
    <div class="col-md-12 mar-b">
        <div class="portlet box green ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Material Master
                </div>
                <div class="tools">
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <!-- <pre>{{formData | json}}</pre> -->
                <form class="form-horizontal">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-4 control-label">Material Name:</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" ng-model="formData.materialName" autofocus required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">DataSheet:</label>
                            <div class="col-md-5">
                               <upload-all-files ng-model="formData.datasheet" is-multiple="false" file-location=""></upload-all-files>
                           </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Density:</label>
                            <div class="col-md-5">
                                <input type="number" class="form-control" ng-model="formData.density" required>
                                <span class="unit">kg/m
                                    <sup>3</sup>
                                    </sup>
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Typical Rate per kg:</label>
                            <div class="col-md-5">
                                <input type="number" class="form-control " ng-model="formData.typicalRatePerKg" required>
                                <span class="unit">Rs/kg</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Rolling Index:</label>
                            <div class="col-md-5">
                                <input type="number" class="form-control " ng-model="formData.rollingIndex" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Cutting Index:</label>
                            <div class="col-md-5">
                                <input type="number" class="form-control " ng-model="formData.cuttingIndex" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Bending Index:</label>
                            <div class="col-md-5">
                                <input type="number" class="form-control" ng-model="formData.bendingIndex" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Fabrication Index:</label>
                            <div class="col-md-5">
                                <input type="number" class="form-control" ng-model="formData.fabrictionIndex" required>
                            </div>
                        </div>
                        <!-- <div class="form-group">
                            <label class="col-md-4 control-label">Material type:</label>
                            <div class="col-md-5">
                                <select class="form-control" ng-model="formData.type" required>
                                    <option value="standard">Standard</option>
                                    <option value="customBase">Custom Base</option>
                                    <option value="customOverlay">Custom Overlay</option>
                                </select>
                            </div>
                        </div> -->
                        <div class="form-group">
                            <label class="col-md-4 control-label">Contigency or Wastage:</label>
                            <div class="col-md-5">
                                <input type="number" class="form-control " ng-model="formData.contingencyOrWastage" required>
                                <span class="unit">%</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-circle green" ng-if="showSaveBtn" ng-click="addOrEditMaterial(formData,subCatId)">Save</button>
                                <button type="submit" class="btn btn-circle green" ng-if="showEditBtn" ng-click="addOrEditMaterial(formData)">Update</button>
                                <button type="button" class="btn btn-circle grey-salsa btn-outline" ng-click="cancelModal()">Cancel</button>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
    </div>
</div>