<div class="row">
    <div class="col-md-12 mar-b">
        <div class="portlet box green ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Sub Category
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form class="form-horizontal" name="myForm">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-5 control-label">Enter Sub Category Name:</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" ng-model="formData.materialSubCatName" autofocus required>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-circle green" ng-if="showSaveBtn" ng-click="addOrEditMaterialSubCat(formData,catId)" ng-disabled ="myForm.$dirty && myForm.$invalid || myForm.$pristine">Save</button>
                                <button type="submit" class="btn btn-circle green" ng-if="showEditBtn" ng-click="addOrEditMaterialSubCat(formData)" ng-disabled ="myForm.$dirty && myForm.$invalid || myForm.$pristine">Update</button>
                                <button type="button" class="btn btn-circle grey-salsa btn-outline" ng-click="cancelModal()">Cancel</button>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
    </div>
</div>