<!-- BEGIN LOGIN -->
<div class="content" style="min-height: 300px;">
    <!-- BEGIN LOGIN FORM -->
    <form class="login-form" name="myForm">
        <div class="form-group">
            <h3 class="form-title">Login to your account</h3>
            <div class="alert alert-danger display-hide">
                <button class="close" data-close="alert"></button>
                <span> Enter any username and password. </span>
            </div>
        </div>
        <div class="form-group">
            <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
            <label class="control-label visible-ie8 visible-ie9">UserID</label>
            <div class="input-icon">
                <i class="fa fa-user"></i>
                <input class="form-control placeholder-no-fix" name="userId" type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" autocomplete="off" placeholder="Username or Email ID" ng-model="userId"
                autofocus required />
                <small class="error" ng-if="userId.$error.email">
                    Please input a valid email.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label visible-ie8 visible-ie9">Password</label>
            <div class="input-icon">
                <i class="fa fa-lock"></i>
                <input class="form-control placeholder-no-fix" name="password" type="password" autocomplete="off" placeholder="Password"
                    ng-model="password" required />
            </div>
        </div>
        <br>
        <br>
        <div class="form-actions">
            <div class="row">
                <div class="col-md-6">
                    <button type="submit" class="btn green pull-left" ng-click="verifyUser(userId, password)" ng-disabled="myForm.userId.$invalid || myForm.password.$invalid"> Login </button>
                    <br>
                </div>
                <div class="col-md-6">
                    <p class="pull-right" ng-click="forgotPasswordModal()">Forgot Password</p>
                </div>
            </div>
        </div>
        <!-- 
            <h5><p ng-show="myForm.password.$error.minlength" class="help-block">Password is too short.</p></h5>
        <p ng-show="myForm.userId.$error.maxlength" class="help-block">Username is too long.</p>
        <h4>
            <span class="label label-info" ng-show="myForm.userId.$invalid && myForm.userId.$dirty">UserID is required.</span>
        </h4>
        <h4>
            <span class="label label-info" ng-show="myForm.password.$invalid && myForm.password.$dirty">Password is required.</span>
        </h4> -->
        <h5>
            <p class="help-block" ng-if="validationError != ''">{{error}}</p>
        </h5>
</div>