<div class="row">
    <div class="col-md-12 mar-b">
        <div class="portlet box green ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Role
                </div>
                <div class="tools">
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form class="form-horizontal">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-4 control-label">Enter Role :</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" ng-model="roleData.roleName" placeholder="Enter Role" required autofocus>
                            </div>
                        </div>
                        <div class="form-group">
                            <table class="table table-striped table-hover text-left">
                                <thead>
                                    <tr>
                                        <th class="align-top">Module Names</th>
                                        <th colspan="4" class="text-center" class="align-top"> Access Permissions </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <input type="checkbox" id="checkbox-f" ng-model="isUserSelected" ng-disabled="userC || userR || userU ||userD">User</td>
                                        <td>
                                            <span ng-show="isUserSelected">
                                                <input type="checkbox" id="checkbox-f" ng-model="userC">Create</span>
                                        </td>
                                        <td>
                                            <span ng-show="isUserSelected">
                                                <input type="checkbox" id="checkbox-f" ng-model="userR">Read</span>
                                        </td>
                                        <td>
                                            <span ng-show="isUserSelected">
                                                <input type="checkbox" id="checkbox-f" ng-model="userU">Update</span>
                                        </td>
                                        <td>
                                            <span ng-show="isUserSelected">
                                                <input type="checkbox" id="checkbox-f" ng-model="userD">Delete</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="checkbox" id="checkbox-f" ng-model="isCustomerSelected" ng-disabled="customerC || customerR || customerU || customerD">Customer</td>
                                        <td>
                                            <span ng-show="isCustomerSelected">
                                                <input type="checkbox" id="checkbox-f" ng-model="customerC">Create</span>
                                        </td>
                                        <td>
                                            <span ng-show="isCustomerSelected">
                                                <input type="checkbox" id="checkbox-f" ng-model="customerR">Read</span>
                                        </td>
                                        <td>
                                            <span ng-show="isCustomerSelected">
                                                <input type="checkbox" id="checkbox-f" ng-model="customerU">Update</span>
                                        </td>
                                        <td>
                                            <span ng-show="isCustomerSelected">
                                                <input type="checkbox" id="checkbox-f" ng-model="customerD">Delete</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="checkbox" id="checkbox-f" ng-model="isEnquirySelected" ng-disabled="enquiryC || enquiryR || enquiryU || enquiryD">Enquiry</td>
                                        <td>
                                            <span ng-show="isEnquirySelected">
                                                <input type="checkbox" id="checkbox-f" ng-model="enquiryC">Create</span>
                                        </td>
                                        <td>
                                            <span ng-show="isEnquirySelected">
                                                <input type="checkbox" id="checkbox-f" ng-model="enquiryR">Read</span>
                                        </td>
                                        <td>
                                            <span ng-show="isEnquirySelected">
                                                <input type="checkbox" id="checkbox-f" ng-model="enquiryU">Update</span>
                                        </td>
                                        <td>
                                            <span ng-show="isEnquirySelected">
                                                <input type="checkbox" id="checkbox-f" ng-model="enquiryD">Delete</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="checkbox" id="checkbox-f" ng-model="isEstimateSelected" ng-disabled="estimateC || estimateR || estimateU || estimateD">Estimate</td>
                                        <td>
                                            <span ng-show="isEstimateSelected">
                                                <input type="checkbox" id="checkbox-f" ng-model="estimateC">Create</span>
                                        </td>
                                        <td>
                                            <span ng-show="isEstimateSelected">
                                                <input type="checkbox" id="checkbox-f" ng-model="estimateR">Read</span>
                                        </td>
                                        <td>
                                            <span ng-show="isEstimateSelected">
                                                <input type="checkbox" id="checkbox-f" ng-model="estimateU">Update</span>
                                        </td>
                                        <td>
                                            <span ng-show="isEstimateSelected">
                                                <input type="checkbox" id="checkbox-f" ng-model="estimateD">Delete</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="checkbox" id="checkbox-f" ng-model="isMasterSelected" ng-disabled="masterC || masterR || masterU || masterD">Master</td>
                                        <td></td>
                                        <td>
                                            <span ng-show="isMasterSelected">
                                                <input type="checkbox" id="checkbox-f" ng-model="masterC">Create</span>
                                        </td>
                                        <td>
                                            <span ng-show="isMasterSelected">
                                                <input type="checkbox" id="checkbox-f" ng-model="masterR">Read</span>
                                        </td>
                                        <td>
                                            <span ng-show="isMasterSelected">
                                                <input type="checkbox" id="checkbox-f" ng-model="masterU">Update</span>
                                        </td>
                                        <td>
                                            <span ng-show="isMasterSelected">
                                                <input type="checkbox" id="checkbox-f" ng-model="masterD">Delete</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-circle green" ng-if="showSaveBtn" ng-click="">Save</button>
                                <button type="submit" class="btn btn-circle green" ng-if="showEditBtn">Update</button>
                                <button type="button" class="btn btn-circle grey-salsa btn-outline" ng-click="cancelModal()">Cancel</button>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
    </div>
</div>