<div class="row">
    <div class="col-md-12 mar-b">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Addon Type
                </div>
                <div class="tools">
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form class="form-horizontal" name="myForm">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-2 control-label">Addon Type Name:</label>
                            <div class="col-md-3">
                                <input type="text" name="AddonTypeName" class="form-control" ng-model="formData.addonTypeName" placeholder="" required autofocus>
                                <span class="error" ng-show="myForm.AddonTypeName.$invalid && myForm.AddonTypeName.$dirty"> Please fill in this field</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label"> Material Category:</label>
                            <div class="col-md-3">
                                <select class="form-control select_tag_dashboard" name="MaterialCategory" ng-model="selectedMatCat" ng-options="mc.materialCatName for mc in mMatCatData track by mc._id "
                                    ng-change="getMatSubCat(selectedMatCat._id)" required>
                                </select>
                                <span class="error" ng-show="myForm.MaterialCategory.$invalid && myForm.MaterialCategory.$dirty"> Please fill in this field</span>
                            </div>
                            <label class="col-md-2 control-label"> Material SubCategory:</label>
                            <div class="col-md-3">
                                <select ng-model="selectedMatSubCat" name="MaterialSubcategory" class="form-control select_tag_dashboard" ng-options="msc.materialSubCatName for msc in selectedMatCat.subCat track by msc._id "required>
                                </select>
                                <span class="error" ng-show="myForm.MaterialSubcategory.$invalid &&  myForm.MaterialSubcategory.$dirty"> Please fill in this field</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">
                                <b>Rate -</b>
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Multiplication Factor</label>
                            <div class="col-md-3">
                                <input type="text" class="form-control" ng-model="formData.rate.mulFact" placeholder="" required>
                            </div>
                            <label class="col-md-2 control-label"> UOM</label>
                            <div class="col-md-3">
                                <select ng-model="selectedRateUom" name="uomm" class="form-control select_tag_dashboard" ng-options="u.uomName for u in mUomData track by u._id"
                                    required>
                                </select>
                                <span class="error" ng-show="myForm.uomm.$invalid &&  myForm.uomm.$dirty"> Please fill in this field</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">
                                <b>Quantity -</b>
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label"> Additional Input</label>
                            <div class="col-md-3">
                                <input type="text" name="AdditionInput" class="form-control" ng-model="formData.quantity.additionalInput" required>
                                <span class="error" ng-show="myForm.AdditionInput.$invalid &&  myForm.AdditionInput.$dirty"> Please fill in this field</span>
                            </div>
                            <label class="col-md-2 control-label">UOM</label>
                            <div class="col-md-3">
                                <select ng-model="selectedAdditionalUom" name="uom" class="form-control select_tag_dashboard" ng-options="u.uomName for u in mUomData track by u._id"
                                    required>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Linkedkey Value:</label>
                            <div class="col-md-3">
                                <select class="form-control" name="Linkedkey" ng-model="formData.quantity.linkedKey" required>
                                    <option></option>
                                    <option>Perimeter</option>
                                    <option>SMA</option>
                                    <option>SA</option>
                                    <option>Wt</option>
                                    <option>Nos</option>
                                    <option>Hrs</option>
                                </select>
                                <span class="error" ng-show="myForm.Linkedkey.$invalid &&  myForm.Linkedkey.$dirty"> Please fill in this field</span>
                            </div>
                            <label class="col-md-2 control-label">UOM</label>
                            <div class="col-md-3">
                                <select ng-model="selectedKinkedKeyUom" name="u" class="form-control select_tag_dashboard" ng-options="u.uomName for u in mUomData track by u._id"
                                    required>
                                </select>
                                <span class="error" ng-show="myForm.u.$invalid  &&  myForm.u.$dirty"> Please fill in this field</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Multiplication Factor</label>
                            <div class="col-md-3">
                                <input type="text" class="form-controle" ng-model="formData.quantity.mulFact" required>
                            </div>
                            <label class="col-md-2 control-label">Final UOM</label>
                            <div class="col-md-3">
                                <select ng-model="selectedFinalUom" name="FinalUOM" class="form-control select_tag_dashboard" ng-options="u.uomName for u in mUomData track by u._id"
                                    required>
                                </select>
                                <span class="error" ng-show="myForm.FinalUOM.$invalid &&  myForm.FinalUOM.$dirty"> Please fill in this field</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">% use</label>
                            <div class="col-md-3">
                                <input type="text" name="use" class="form-control" pattern="[\-\+]?[0-9]*(\.[0-9]+)?" ng-model="formData.quantity.percentageUse">
                                <span class="error" ng-show="myForm.use.$invalid && myForm.use.$dirty">Please enter a number or floating point number</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Remarks</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" ng-model="formData.remarks">
                            </div>
                        </div>
                    </div>
                </form>
                <!--END OF DEAFULT EXTRAS TABLE -->
                <div class="row">
                    <div class=" col-md-12">
                        <div class="mar-bottom">
                            <button type="submit" class="btn btn-circle green" ng-if="showSaveBtn" ng-click="addOrEditAddonType(formData,selectedMatCat._id,selectedMatSubCat._id,selectedRateUom._id,selectedAdditionalUom._id,selectedKinkedKeyUom._id,selectedFinalUom._id)"
                                ng-disabled="myForm.$dirty && myForm.$invalid || myForm.$pristine">Save</button>
                            <button type="submit" class="btn btn-circle green" ng-if="showEditBtn" ng-disabled="myForm.$dirty && myForm.$invalid || myForm.$pristine" ng-click="addOrEditAddonType(formData,selectedMatCat._id,selectedMatSubCat._id,selectedRateUom._id,selectedAdditionalUom._id,selectedKinkedKeyUom._id,selectedFinalUom._id)">Update</button>
                            <button type="button" class="btn btn-circle grey-salsa btn-outline" ng-click="cancelModal()">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>