<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-9">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Master Shape
                </div>
                <div class="tools">
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form action="#" class="form-horizontal">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-2 control-label">Shape Name:</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control input-circle" placeholder="Enter text">
                            </div>
                            <label class="col-md-2 control-label">Upload Icon:</label>
                            <div class="col-md-4">
                                <input type="file" placeholder="Enter text">
                            </div>
                        </div>
                        <hr>
                        <div class="form-group">
                            <div class="col-md-4">
                                <div><img src="img/Doraemon.png" alt="" class=" img-responsive">
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="mt-checkbox-list">
                                    <label class="mt-checkbox"> a
                                  <input type="checkbox" value="1" name="test" />
                                   <span></span>
                                   </label>
                                    <label class="mt-checkbox"> b
                                  <input type="checkbox" value="1" name="test" />
                                   <span></span>
                                   </label>
                                    <label class="mt-checkbox">c
                                    <input type="checkbox" value="1" name="test" />
                                   <span></span>
                                      </label>
                                    <label class="mt-checkbox">d
                                     <input type="checkbox" value="1" name="test" />
                                         <span></span>
                                        </label>
                                    <label class="mt-checkbox">e
                                             <input type="checkbox" value="1" name="test" />
                                               <span></span>
                                            </label>
                                    <label class="mt-checkbox">f
                                         <input type="checkbox" value="1" name="test" />
                                            <span></span>
                                            </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="mt-checkbox-list">
                                    <label class="mt-checkbox">g
                                         <input type="checkbox" value="1" name="test" />
                                          <span></span>
                                      </label>
                                    <label class="mt-checkbox">Q1
                                 <input type="checkbox" value="1" name="test" />
                                  <span></span>
                                   </label>
                                    <label class="mt-checkbox">Q2
                               <input type="checkbox" value="1" name="test" />
                                   <span></span>
                                   </label>
                                    <label class="mt-checkbox">Thikness(t)
                               <input type="checkbox" value="1" name="test" />
                                   <span></span>
                                   </label>
                                    <label class="mt-checkbox">Length(l)
                               <input type="checkbox" value="1" name="test" />
                                   <span></span>
                                   </label>
                                    <label class="mt-checkbox">Wastage(w)
                               <input type="checkbox" value="1" name="test" />
                                   <span></span>
                                   </label>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label class="col-md-4">Size Factor:</label>
                                    <div class="col-md-3">
                                        <input type="text">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-4">Form Factor: </label>
                                    <div class="col-md-3">
                                        <input type="text">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="form-group">
                            <label class="col-md-3 control-label"><b>Formulas:</b></label>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Perimeter (p)</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control " placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Metal Area</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control " placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Surface Area</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control " placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Weight</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control " placeholder="">
                            </div>
                        </div>
                        <hr>
                        <div class="form-group">
                            <label class="col-md-3 control-label">Naming Convention</label>
                            <div class="col-md-4">
                                <input type="text" class="form-control " placeholder="">
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" class="btn btn-circle green">Save</button>
                                <button type="button" class="btn btn-circle grey-salsa btn-outline">Cancel</button>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
    </div>
</div>