<div class="row">
    <div class="col-md-3">
        <ul class="tree">
            <li class="mainLi">
                <input type="checkbox" id="c5" />
                <label class="tree_label" for="c5"></label>
                <span ng-click="getAssemblyView()" class="assebmlyName">Assembly Name</span>
                <span ng-click="createSubAssemblyModal()" class="assemblyCreateIcon"><i class="fa fa-plus btn-info"></i></span>
                <span ng-click="editAssembly()" class="assemblyEditIcon"><i class="fa fa-pencil btn-warning "></i></span>
                <ul>
                    <li ng-repeat="sa in subAssembly">
                        <!-- <span class="tree_label">Sub Assembly 1 Name</span> -->
                        <input type="checkbox" id="{{sa.name+$index}}" />
                        <label for="{{sa.name+$index}}" class="tree_label"></label>
                        <span ng-click="getSubAssemblyView()" class="subssemblyName">{{sa.name}}</span>
                        <span ng-click="createEstimatePart()" class="subAssemblyCreateIcon"><i class="fa fa-plus btn-info"></i></span>
                        <span ng-click="editSubAssembly()" class="subAssemblyEditIcon"><i class="fa fa-pencil btn-warning"></i></span>
                        <span ng-click="deleteSubAssembly()" class="subAssemblyDeleteIcon"><i class="fa fa-trash-o btn-danger"></i></span>
                        <ul class="">
                            <li ng-repeat="p in sa.part">
                                <input type="checkbox" id="{{p.name+$index}}" />
                                <label for="{{p.name+$index}}" class="tree_label"></label>
                                <span class="tree_label" class="partName">{{p.name}}</span>
                                <span ng-click="editEstimatePart()" class="partEditIcon"><i class="fa fa-pencil btn-warning "></i></span>
                                <span ng-click="deleteEstimatePart()" class="partDeleteIcon"><i class="fa fa-trash-o btn-danger "></i></span>
                                <ul>
                                    <li>
                                        <span ng-click="getSubAssemblyView()" class="tree_label">Part Detail</span>
                                    </li>
                                    <li>
                                        <span ng-click="getSubAssemblyView()" class="tree_label">Processing</span>
                                        <span ng-click="createEstimatePart()" class="processingIcon"><i class="fa fa-plus btn-info"></i></span>
                                    </li>
                                    <li>
                                        <span ng-click="getSubAssemblyView()" class="tree_label">Addons</span>
                                        <span ng-click="createEstimatePart()" class="addonsIcon"><i class="fa fa-plus btn-info"></i></span>
                                    </li>
                                    <li>
                                        <span ng-click="getSubAssemblyView()" class="tree_label">Extras</span>
                                        <span ng-click="createEstimatePart()" class="extrasIcon"><i class="fa fa-plus btn-info"></i></span>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <span ng-click="getSubAssemblyView()" class="tree_label">Processing</span>
                                <span ng-click="createEstimatePart()" class="processingIcon"><i class="fa fa-plus btn-info"></i></span>
                            </li>
                            <li>
                                <span ng-click="getSubAssemblyView()" class="tree_label">Addons</span>
                                <span ng-click="createEstimatePart()" class="addonsIcon"><i class="fa fa-plus btn-info"></i></span>
                            </li>
                            <li>
                                <span ng-click="getSubAssemblyView()" class="tree_label">Extras</span>
                                <span ng-click="createEstimatePart()" class="extrasIcon"><i class="fa fa-plus btn-info"></i></span>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <span ng-click="getSubAssemblyView()" class="tree_label">Processing</span>
                        <span ng-click="createEstimatePart()" class="processingIcon"><i class="fa fa-plus btn-info"></i></span>
                    </li>
                    <li>
                        <span ng-click="getSubAssemblyView()" class="tree_label">Addons</span>
                        <span ng-click="createEstimatePart()" class="addonsIcon"><i class="fa fa-plus btn-info"></i></span>
                    </li>
                    <li>
                        <span ng-click="getSubAssemblyView()" class="tree_label">Extras</span>
                        <span ng-click="createEstimatePart()" class="extrasIcon"><i class="fa fa-plus btn-info"></i></span>
                    </li>
                </ul>
            </li>
            <li>
                <input type="checkbox" id="cm" />
                <label class="tree_label" for="cm"></label><span>Custom Material</span>
            </li>
        </ul>
    </div>
    <div class="col-md-9">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light portlet-fit bordered">
            <div class="portlet-title">
                <div class="row">
                    <div class="col-md-6">
                        <div class="caption">
                            <i class="icon-settings font-green"></i>
                            <span class="caption-subject font-green bold uppercase">Master Material</span>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="btn-group pull-right">
                            <button id="sample_editable_1_new" class="btn green" ng-click="material();"> <i class="fa fa-plus"></i> </button>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="btn-group pull-right">
                            <button class="btn green btn-outline dropdown-toggle" data-toggle="dropdown">Tools <i class="fa fa-angle-down"></i></button>
                            <ul class="dropdown-menu pull-right">
                                <li>
                                    <a href="javascript:;"> Save as PDF </a>
                                </li>
                                <li>
                                    <a href="javascript:;"> Export to Excel </a>
                                </li>
                                <li>
                                    <a href="javascript:;"> Delete </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-toolbar">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default">Show Records</button>
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000"
                                    data-close-others="true">
                                     <i class="fa fa-angle-down"></i></button>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a> 5</a>
                                    </li>
                                    <li>
                                        <a> 10 </a>
                                    </li>
                                    <li>
                                        <a> 15 </a>
                                    </li>
                                    <li class="divider"> </li>
                                    <li>
                                        <a> 50 </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="inputs search pull-right">
                                <div class="portlet-input input-small input-inline">
                                    <div class="input-icon right">
                                        <i class="icon-magnifier"></i>
                                        <input type="text" class="form-control form-control-solid" placeholder="search...">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- BEGIN BORDERED TABLE PORTLET-->
                <div class="portlet-body">
                    <div class="">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th> Id </th>
                                    <th> Name</th>
                                    <th> Available Master Material</th>
                                    <th> other </th>
                                    <th> Custom Base Material </th>
                                    <th> Custom Overlay</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td> 1 </td>
                                    <td> Mark </td>
                                    <td>5 </td>
                                    <td>24 </td>
                                    <td><label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                        <input type="checkbox" id="1" class="group-checkable ng-pristine ng-untouched ng-valid ng-empty" data-set="#sample_1 .checkboxes" ><span></span></label>
                                    </td>
                                    <td><label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                        <input type="checkbox" id="2" class="group-checkable ng-pristine ng-untouched ng-valid ng-empty" data-set="#sample_1 .checkboxes" ><span></span></label>
                                    </td>
                                </tr>
                                <tr>
                                    <td> 1 </td>
                                    <td> Mark </td>
                                    <td>5 </td>
                                    <td>24 </td>
                                    <td><label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                        <input type="checkbox" id="3" class="group-checkable ng-pristine ng-untouched ng-valid ng-empty" data-set="#sample_1 .checkboxes" ><span></span></label>
                                    </td>
                                    <td><label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                        <input type="checkbox" id="4" class="group-checkable ng-pristine ng-untouched ng-valid ng-empty" data-set="#sample_1 .checkboxes" ><span></span></label>
                                    </td>
                                </tr>
                                <tr>
                                    <td> 1 </td>
                                    <td> Mark </td>
                                    <td>5 </td>
                                    <td>24 </td>
                                    <td><label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                        <input type="checkbox" id="5" class="group-checkable ng-pristine ng-untouched ng-valid ng-empty" data-set="#sample_1 .checkboxes"  ><span></span></label>
                                    </td>
                                    <td><label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                        <input type="checkbox" id="6" class="group-checkable ng-pristine ng-untouched ng-valid ng-empty" data-set="#sample_1 .checkboxes" ><span></span></label>
                                    </td>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- END BORDERED TABLE PORTLET-->
                <div class="row">
                    <div class="col-md-6">
                        <div class="dataTables_info showing-records" id="sample_1_info" role="status" aria-live="polite">Showing 1 to 5 of 25 records</div>
                    </div>
                    <div class="col-md-6">
                        <div class="pull-right">
                            <ul uib-pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;"
                                next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>