<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-gift"></i>Form Actions On Bottom
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse"> </a>
            <a href="#portlet-config" data-toggle="modal" class="config"> </a>
            <a href="javascript:;" class="reload"> </a>
            <a href="javascript:;" class="remove"> </a>
        </div>
    </div>
    <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <form action="#" class="form-horizontal">
            <div class="form-body">
                <div class="form-group">
                    <label class="col-md-2 control-label">Shape Name:</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control input-circle" placeholder="Enter text">
                    </div>
                    <label class="col-md-2 control-label">Upload Icon:</label>
                    <div class="col-md-4">
                        <input type="file" placeholder="Enter text">
                    </div>
                </div>
                <hr>
                <div class="form-group">
                    <div class="col-md-4">
                        <div><img src="img/Doraemon.png" alt="" class=" img-responsive">
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="mt-checkbox-list">
                            <label class="mt-checkbox"> a
                                  <input type="checkbox" value="1" name="test" />
                                   <span></span>
                                   </label>
                            <label class="mt-checkbox"> b
                                  <input type="checkbox" value="1" name="test" />
                                   <span></span>
                                   </label>
                            <label class="mt-checkbox">c
                                    <input type="checkbox" value="1" name="test" />
                                   <span></span>
                                      </label>
                            <label class="mt-checkbox">d
                                     <input type="checkbox" value="1" name="test" />
                                         <span></span>
                                        </label>
                            <label class="mt-checkbox">e
                                             <input type="checkbox" value="1" name="test" />
                                               <span></span>
                                            </label>
                            <label class="mt-checkbox">f
                                         <input type="checkbox" value="1" name="test" />
                                            <span></span>
                                            </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="mt-checkbox-list">
                            <label class="mt-checkbox">g
                                         <input type="checkbox" value="1" name="test" />
                                          <span></span>
                                      </label>
                            <label class="mt-checkbox">Q1
                                 <input type="checkbox" value="1" name="test" />
                                  <span></span>
                                   </label>
                            <label class="mt-checkbox">Q2
                               <input type="checkbox" value="1" name="test" />
                                   <span></span>
                                   </label>
                            <label class="mt-checkbox">Thikness(t)
                               <input type="checkbox" value="1" name="test" />
                                   <span></span>
                                   </label>
                            <label class="mt-checkbox">Length(l)
                               <input type="checkbox" value="1" name="test" />
                                   <span></span>
                                   </label>
                            <label class="mt-checkbox">Wastage(w)
                               <input type="checkbox" value="1" name="test" />
                                   <span></span>
                                   </label>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="mt-checkbox-list">
                            <label class="mt-checkbox">Size Factor:</label>
                            <label class="mt-checkbox">Form Factor: </label>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div><input type="text"></div>
                        <div><input type="text"></div>
                    </div>
                </div>
                <hr>
                <div class="form-group">
                    <label class="col-md-3 control-label">Formula:</label>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Perimeter (p)</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control " placeholder="">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Metal Area</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control " placeholder="">
                    </div>
                </div>
                 <div class="form-group">
                    <label class="col-md-3 control-label">Surface Area</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control " placeholder="">
                    </div>
                </div>
                  <div class="form-group">
                    <label class="col-md-3 control-label">Weight</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control " placeholder="">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Right Icon</label>
                    <div class="col-md-4">
                        <div class="input-icon right">
                            <i class="fa fa-microphone"></i>
                            <input type="text" class="form-control input-circle" placeholder="Right icon">
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Input With Spinner</label>
                    <div class="col-md-4">
                        <input type="password" class="form-control spinner input-circle" placeholder="Password">
                    </div>
                </div>
                <div class="form-group last">
                    <label class="col-md-3 control-label">Static Control</label>
                    <div class="col-md-4">
                        <span class="form-control-static"> email@example.com </span>
                    </div>
                </div>
            </div>
            <div class="form-actions">
                <div class="row">
                    <div class="col-md-offset-3 col-md-9">
                        <button type="submit" class="btn btn-circle green">Submit</button>
                        <button type="button" class="btn btn-circle grey-salsa btn-outline">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
        <!-- END FORM-->
    </div>
</div>