<div class="row">
    <div class="col-md-3">
        <ul class="tree">
            <li class="mainLi">
                <input type="checkbox" id="c5" />
                <label class="tree_label" for="c5"></label>
                <span ng-click="getAssemblyView()" class="assebmlyName">Part Master</span>
                <span ng-click="createSubAssemblyModal()" class="assemblyCreateIcon"><i class="fa fa-plus btn-info" ng-click="partTypeCat();"></i></span>
                <ul>
                    <li ng-repeat="pm in partCat">
                        <!-- <span class="tree_label">Sub Assembly 1 Name</span> -->
                        <input type="checkbox" id="{{pm.name+$index}}" />
                        <label for="{{pm.name+$index}}" class="tree_label"></label>
                        <span ng-click="getSubAssemblyView()" class="subssemblyName">{{pm.name}}</span>
                        <span ng-click="createEstimatePart()" class="subAssemblyCreateIcon"><i class="fa fa-plus btn-info" ng-click="partType();"></i></span>
                        <span ng-click="editSubAssembly()" class="subAssemblyEditIcon"><i class="fa fa-pencil btn-warning"></i></span>
                        <span ng-click="deleteSubAssembly()" class="subAssemblyDeleteIcon"><i class="fa fa-trash-o btn-danger"></i></span>
                        <ul class="">
                            <li ng-repeat="pt in pm.partType">
                                <span class="tree_label" class="partName">{{pt.name}}</span>
                                <span ng-click="editEstimatePart()" class="partEditIcon"><i class="fa fa-pencil btn-warning "></i></span>
                                <span ng-click="deleteEstimatePart()" class="partDeleteIcon"><i class="fa fa-trash-o btn-danger "></i></span>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="col-md-9">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Master Part
                </div>
                <div class="tools">
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form action="#" class="form-horizontal">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-2 control-label">Select Shape:</label>
                            <div class="col-md-4">
                                <select class="form-control input-circle">
                                    <option></option>
                                    <option></option>
                                </select>
                            </div>
                            <label class="col-md-2 control-label">Part Type Code: </label>
                            <div class="col-md-4">
                                <input type="text" class="form-control input-circle">
                            </div>
                        </div>
                        <hr>
                        <div class="form-group">
                            <div class="col-md-1">
                                <div>
                                    <label><b>Sizes</b></label>
                                    <span>50*50*50</span>
                                    <span>50*50*50</span>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div><img src="img/Doraemon.png" alt="" class=" img-responsive">
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="mt-checkbox-list">
                                    <label class="mt-checkbox"> a
                                          <input type="checkbox" value="1" name="test" />
                                            <span></span>
                                   </label>
                                    <label class="mt-checkbox"> b
                                         <input type="checkbox" value="1" name="test" />
                                          <span></span>
                                   </label>
                                    <label class="mt-checkbox">c
                                          <input type="checkbox" value="1" name="test" />
                                           <span></span>
                                    </label>
                                    <label class="mt-checkbox">d
                                          <input type="checkbox" value="1" name="test" />
                                              <span></span>
                                    </label>
                                    <label class="mt-checkbox">e
                                             <input type="checkbox" value="1" name="test" />
                                               <span></span>
                                    </label>
                                    <label class="mt-checkbox">f
                                         <input type="checkbox" value="1" name="test" />
                                            <span></span>
                                    </label>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="mt-checkbox-list">
                                    <label class="mt-checkbox">g
                                         <input type="checkbox" value="1" name="test" />
                                          <span></span>
                                      </label>
                                    <label class="mt-checkbox">Q1
                                 <input type="checkbox" value="1" name="test" />
                                  <span></span>
                                   </label>
                                    <label class="mt-checkbox">Q2
                               <input type="checkbox" value="1" name="test" />
                                   <span></span>
                                   </label>
                                    <label class="mt-checkbox">Thikness(t)
                               <input type="checkbox" value="1" name="test" />
                                   <span></span>
                                   </label>
                                    <label class="mt-checkbox">Length(l)
                               <input type="checkbox" value="1" name="test" />
                                   <span></span>
                                   </label>
                                    <label class="mt-checkbox">Wastage(w)
                               <input type="checkbox" value="1" name="test" />
                                   <span></span>
                                   </label>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label class="col-md-5">Size Factor:</label>
                                    <div class="col-md-3">
                                        <input type="text">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-5">Form Factor: </label>
                                    <div class="col-md-3">
                                        <input type="text">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="form-group">
                            <label class="col-md-2 control-label"><b>Formulas:</b></label>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Perimeter (p)</label>
                            <div class="col-md-3">
                                <input type="text" class="form-control " placeholder="">
                            </div>
                            <label class="col-md-2 control-label">Surface Area:</label>
                            <div class="col-md-3">
                                <input type="text" class="form-control " placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Sheet Metal Area</label>
                            <div class="col-md-3">
                                <input type="text" class="form-control " placeholder="">
                            </div>
                            <label class="col-md-2 control-label"> Weight</label>
                            <div class="col-md-3">
                                <input type="text" class="form-control " placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Cost Price</label>
                            <div class="col-md-3">
                                <input type="text" class="form-control " placeholder="">
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <div class="row">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-circle green pull-right mar-rb">Save</button>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
                <!--DEAFULT PROCESSING TABLE -->
                <div>
                    <div class="portlet light portlet-fit bordered">
                        <div class="portlet-title">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="caption">
                                        <i class="icon-settings font-red"></i>
                                        <span class="caption-subject font-red sbold uppercase">Default Processing</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="btn-group pull-right">
                                        <button id="sample_editable_1_new" class="btn green" ng-click="processing();"> <i class="fa fa-plus" ></i> </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="table-toolbar">
                                <div class="row">
                                    <div class="col-md-6">
                                    </div>
                                    <div class="col-md-6">
                                    </div>
                                </div>
                            </div>
                            <!-- BEGIN BORDERED TABLE PORTLET-->
                            <div class="portlet-body">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th rowspan="2" class="align-top"> Id </th>
                                            <th rowspan="2" class="align-top"> Processing</th>
                                            <th rowspan="2" class="align-top">Type </th>
                                            <th rowspan="2" class="align-top">Rate </th>
                                            <th colspan="4" class="text-center" class="align-top"> Per item detail </th>
                                            <th rowspan="2" class="align-top"> Total Cost</th>
                                            <th rowspan="2" class="align-top"> Remarks</th>
                                            <th rowspan="2" class="align-top"> extra column </th>
                                        </tr>
                                        <tr>
                                            <th>Key Value</th>
                                            <th>Utilization</th>
                                            <th>Contegency Wastage</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td> 1 </td>
                                            <td> Mark </td>
                                            <td>5 </td>
                                            <td>24 </td>
                                            <td>400 </td>
                                            <td>500 </td>
                                            <td> 600 </td>
                                            <td> 900</td>
                                            <td> 300</td>
                                            <td> Approved</td>
                                            <td> Approved </td>
                                        </tr>
                                        <tr>
                                            <td> 1 </td>
                                            <td> Mark </td>
                                            <td>5 </td>
                                            <td>24 </td>
                                            <td>400 </td>
                                            <td>500 </td>
                                            <td> 600 </td>
                                            <td> 900</td>
                                            <td> 300</td>
                                            <td> Approved</td>
                                            <td> Approved </td>
                                        </tr>
                                        <tr>
                                            <td> 1 </td>
                                            <td> Mark </td>
                                            <td>5 </td>
                                            <td>24 </td>
                                            <td>400 </td>
                                            <td>500 </td>
                                            <td> 600 </td>
                                            <td> 900</td>
                                            <td> 300</td>
                                            <td> Approved</td>
                                            <td> Approved </td>
                                        </tr>
                                        <tr>
                                            <td colspan="8" class="align-right"> Total</td>
                                            <!--<td> </td>-->
                                            <td>5 </td>
                                            <td>24 </td>
                                            <td>24 </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- END BORDERED TABLE PORTLET-->
                        </div>
                    </div>
                </div>
                <!-- END OF DEAFULT PROCESSING TABLE -->
                <!--START OF DEAFULT ADDONS TABLE -->
                <div>
                    <div class="portlet light portlet-fit bordered">
                        <div class="portlet-title">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="caption">
                                        <i class="icon-settings font-red"></i>
                                        <span class="caption-subject font-red sbold uppercase">Default Addons</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="btn-group pull-right">
                                        <button id="sample_editable_1_new" class="btn green"> <i class="fa fa-plus"></i> </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="table-toolbar">
                                <div class="row">
                                    <div class="col-md-6">
                                    </div>
                                    <div class="col-md-6">
                                    </div>
                                </div>
                            </div>
                            <!-- BEGIN BORDERED TABLE PORTLET-->
                            <div class="portlet-body">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th rowspan="2" class="align-top"> Id </th>
                                            <th rowspan="2" class="align-top"> Processing</th>
                                            <th rowspan="2" class="align-top">Type </th>
                                            <th rowspan="2" class="align-top">Rate </th>
                                            <th colspan="4" class="text-center" class="align-top"> Per item detail </th>
                                            <th rowspan="2" class="align-top"> Total Cost</th>
                                            <th rowspan="2" class="align-top"> Remarks</th>
                                            <th rowspan="2" class="align-top"> extra column </th>
                                        </tr>
                                        <tr>
                                            <th>Key Value</th>
                                            <th>Utilization</th>
                                            <th>Contegency Wastage</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td> 1 </td>
                                            <td> Mark </td>
                                            <td>5 </td>
                                            <td>24 </td>
                                            <td>400 </td>
                                            <td>500 </td>
                                            <td> 600 </td>
                                            <td> 900</td>
                                            <td> 300</td>
                                            <td> Approved</td>
                                            <td> Approved </td>
                                        </tr>
                                        <tr>
                                            <td> 1 </td>
                                            <td> Mark </td>
                                            <td>5 </td>
                                            <td>24 </td>
                                            <td>400 </td>
                                            <td>500 </td>
                                            <td> 600 </td>
                                            <td> 900</td>
                                            <td> 300</td>
                                            <td> Approved</td>
                                            <td> Approved </td>
                                        </tr>
                                        <tr>
                                            <td> 1 </td>
                                            <td> Mark </td>
                                            <td>5 </td>
                                            <td>24 </td>
                                            <td>400 </td>
                                            <td>500 </td>
                                            <td> 600 </td>
                                            <td> 900</td>
                                            <td> 300</td>
                                            <td> Approved</td>
                                            <td> Approved </td>
                                        </tr>
                                        <tr>
                                            <td colspan="8" class="align-right"> Total</td>
                                            <!--<td> </td>-->
                                            <td>5 </td>
                                            <td>24 </td>
                                            <td>24 </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- END BORDERED TABLE PORTLET-->
                        </div>
                    </div>
                </div>
                <!--END OF DEAFULT ADDONS TABLE -->
                <!--START OF DEAFULT EXTRAS TABLE -->
                <div>
                    <div class="portlet light portlet-fit bordered">
                        <div class="portlet-title">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="caption">
                                        <i class="icon-settings font-red"></i>
                                        <span class="caption-subject font-red sbold uppercase">Default Extras</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="btn-group pull-right">
                                        <button id="sample_editable_1_new" class="btn green"> <i class="fa fa-plus"></i> </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="table-toolbar">
                                <div class="row">
                                    <div class="col-md-6">
                                    </div>
                                    <div class="col-md-6">
                                    </div>
                                </div>
                            </div>
                            <!-- BEGIN BORDERED TABLE PORTLET-->
                            <div class="portlet-body">
                                <table class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th rowspan="2" class="align-top"> Id </th>
                                            <th rowspan="2" class="align-top"> Processing</th>
                                            <th rowspan="2" class="align-top">Type </th>
                                            <th rowspan="2" class="align-top">Rate </th>
                                            <th colspan="4" class="text-center" class="align-top"> Per item detail </th>
                                            <th rowspan="2" class="align-top"> Total Cost</th>
                                            <th rowspan="2" class="align-top"> Remarks</th>
                                            <th rowspan="2" class="align-top"> extra column </th>
                                        </tr>
                                        <tr>
                                            <th>Key Value</th>
                                            <th>Utilization</th>
                                            <th>Contegency Wastage</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td> 1 </td>
                                            <td> Mark </td>
                                            <td>5 </td>
                                            <td>24 </td>
                                            <td>400 </td>
                                            <td>500 </td>
                                            <td> 600 </td>
                                            <td> 900</td>
                                            <td> 300</td>
                                            <td> Approved</td>
                                            <td> Approved </td>
                                        </tr>
                                        <tr>
                                            <td> 1 </td>
                                            <td> Mark </td>
                                            <td>5 </td>
                                            <td>24 </td>
                                            <td>400 </td>
                                            <td>500 </td>
                                            <td> 600 </td>
                                            <td> 900</td>
                                            <td> 300</td>
                                            <td> Approved</td>
                                            <td> Approved </td>
                                        </tr>
                                        <tr>
                                            <td> 1 </td>
                                            <td> Mark </td>
                                            <td>5 </td>
                                            <td>24 </td>
                                            <td>400 </td>
                                            <td>500 </td>
                                            <td> 600 </td>
                                            <td> 900</td>
                                            <td> 300</td>
                                            <td> Approved</td>
                                            <td> Approved </td>
                                        </tr>
                                        <tr>
                                            <td colspan="8" class="align-right"> Total</td>
                                            <!--<td> </td>-->
                                            <td>5 </td>
                                            <td>24 </td>
                                            <td>24 </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- END BORDERED TABLE PORTLET-->
                        </div>
                    </div>
                </div>
                <!--END OF DEAFULT EXTRAS TABLE -->
                <div class="row">
                    <div class=" col-md-12">
                        <div class="mar-bottom text-center">
                            <a class="btn green">Save as New</a>
                            <a class="btn green">Update</a>
                            <a class="btn green">Save</a>
                            <a class="btn green">Add New</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>