<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light portlet-fit bordered">
            <div class="portlet-title">
                <div class="row">
                    <div class="col-md-6">
                        <div class="caption">
                            <i class="icon-settings font-red"></i>
                            <span class="caption-subject font-red sbold uppercase">Users</span>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="btn-group pull-right">
                            <button id="sample_editable_1_new" class="btn green" ng-click="addOrEditUserModal('save')">
                                <i class="fa fa-plus" title="Add New User"></i>
                            </button>
                        </div>
                        <div class="btn-group pull-right">
                            <button id="sample_editable_2_new" ng-hide="bulkUsers.length == 0" class="btn red" ng-click="deleteBulkUsersModal(bulkUsers, 'deleteBulkUsers')">
                                <i class="fa fa-trash-o" title="Delete Selected Users"></i>
                            </button>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="btn-group pull-right">
                            <button class="btn green btn-outline dropdown-toggle" data-toggle="dropdown">Tools
                                <i class="fa fa-angle-down"></i>
                            </button>
                            <ul class="dropdown-menu pull-right">
                                <li>
                                    <a href="javascript:;"> Save as PDF </a>
                                </li>
                                <li>
                                    <a href="javascript:;"> Export to Excel </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="portlet-body horizontal_scroll">
                <div class="table-toolbar">
                    <div class="row" ng-if="obj.total>obj.count">
                        <div class="col-md-8">
                            <div class="btn-group">
                                <button type="button" class="btn btn-default">Show Records</button>
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000"
                                    data-close-others="true">
                                    <i class="fa fa-angle-down"></i>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li>
                                        <a ng-click="getPaginationData(1, 5, keyword)"> 5 </a>
                                    </li>
                                    <li>
                                        <a ng-click="getPaginationData(1, 10, keyword)"> 10 </a>
                                    </li>
                                    <li>
                                        <a ng-click="getPaginationData(1, 15, keyword)"> 15 </a>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <a ng-click="getPaginationData(1, 50, keyword)"> 50 </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="inputs search pull-right">
                                <div class="portlet-input input-small input-inline">
                                    <div class="input-icon right">
                                        <i class="icon-magnifier"></i>
                                        <input type="text" class="form-control form-control-solid" ng-model="keyword" ng-change="serachText(keyword, obj.count)"
                                            placeholder="search...">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-striped table-hover table-bordered" id="sample_editable_1">
                    <thead>
                        <tr>
                            <th>
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input type="checkbox" id="checkAll" class="group-checkable" data-set="#sample_1 .checkboxes" ng-disabled="userData.length <= 0"
                                        ng-model="checkAll" ng-change="selectAll(userData, checkAll)" />
                                    <span></span>
                                </label>
                            </th>
                            <th> Id </th>
                            <th> Name </th>
                            <th> Email </th>
                            <th> Mobile </th>
                            <th> Role </th>
                            <th> Action </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="user in userData track by $index">
                            <td>
                                <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">
                                    <input type="checkbox" ng-model="checkboxStatus" class="group-checkable" data-set="#sample_1 .checkboxes" ng-checked='checkAll'
                                        ng-change="selectBulkUsers(checkboxStatus,user._id)" />
                                    <span></span>
                                </label>
                            </td>
                            <td>{{$index+1}} </td>
                            <td>{{user.name | capitalize}} </td>
                            <td>{{user.email}} </td>
                            <td>{{user.mobile }}</td>
                            <td>{{user.accessLevel }}</td>
                            <td>
                                <span class="label label-sm label-success" ng-click="addOrEditUserModal('update',user)">
                                    <i class="fa fa-pencil" title="Edit User Details"></i>
                                </span>&nbsp;
                                <span class="label label-sm label-danger" ng-click="deleteUserModal(user._id,'deleteUser')">
                                    <i class="fa fa-trash-o" title="Delete User"></i>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="row" ng-if="obj.total>obj.count">
                    <div class="col-md-6">
                        <div class="dataTables_info showing-records" id="sample_1_info" role="status" aria-live="polite">Showing {{obj.pageStart}} to {{obj.pageEnd}} of {{obj.total}} records</div>
                    </div>
                    <div class="col-md-6">
                        <div class="pull-right">
                            <div class="zui-pager small">
                                <ol class="btn-group">
                                    <li class="btn-group__item">
                                        <i class="i-chevron-left"></i>
                                    </li>
                                    <li class="btn-group__item">
                                        <div class="btn btn--action">
                                            <span>{{obj.pageNumber}}</span>
                                            <span>of</span>
                                            <span>{{obj.numberOfPages}}</span>
                                            <i class="i-caret-down"></i>
                                            <select class="select-overlay" ng-options="page for page in obj.pagesArray" ng-model="obj.pageNumber" ng-change="getPaginationData(obj.pageNumber, obj.count, keyword)">
                                                <option value="page">{{page}}</option>
                                            </select>
                                        </div>
                                    </li>
                                    <li class="btn-group__item">
                                        <i class="i-chevron-right"></i>
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>