<div class="row">
    <div class="col-md-3">
        <ul class="tree">
            <li class="mainLi">
                <input type="checkbox" id="c5" />
                <label class="tree_label" for="c5"></label>
                <span class="assebmlyName">Shapes</span>
                <span ng-click="createOrEditShapeData('save')" class="assemblyCreateIcon"><i class="fa fa-plus btn-info" ></i></span>
                <ul>
                    <li ng-repeat="sh in shapeData">
                        <span class="tree_label" class="partName">{{sh.shapeName}}</span>
                        <span ng-click="createOrEditShapeData('update',sh)" class="subAssemblyEditIcon"><i class="fa fa-pencil btn-warning" ng-click="shape();"></i></span>
                        <span ng-click="deleteShapeModal(sh._id,'deleteShape')" class="subAssemblyDeleteIcon"><i class="fa fa-trash-o btn-danger"></i></span>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="col-md-9">
        <div class="portlet box green">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Master Shape
                </div>
                <div class="tools">
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form class="form-horizontal">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-2 control-label">Shape Name:</label>
                            <div class="col-md-4">
                                <input type="text" ng-model="formData.shapeName" class="form-control input-circle" placeholder="Enter text">
                            </div>
                            <label class="col-md-2 control-label">Upload Icon:</label>
                            <div class="col-md-4">
                                <input type="file" placeholder="Enter text" ng-model="formData.icon">
                            </div>
                        </div>
                        <hr>
                        <div class="form-group">
                            <div class="col-md-4">
                                <div><img src="img/Doraemon.png" alt="" class=" img-responsive">
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label><b>Variables:</b></label>
                                </div>
                                <div class="form-group">
                                    <div class="shapes-checkbox">
                                        <div class="" ng-repeat="varChunk in formData.variable">
                                            <div class="" ng-repeat="var in varChunk track by $index">
                                                 {{var.variableName}}
                                                <input type="checkbox" ng-click="checkedVariable ? addVariableToShape('checked',var._id) : addVariableToShape('unchecked',var._id)"
                                                   ng-checked="var.checkboxStatus" ng-model="checkedVariable">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Size Factor</label>
                                    <div class="col-md-3">
                                        <input type="text" class="form-control " ng-model="formData.sizeFactor" placeholder="">
                                    </div>
                                    <label class="col-md-3 control-label">Form Factor</label>
                                    <div class="col-md-3">
                                        <input type="text" class="form-control " ng-model="formData.formFactor" placeholder="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="form-group">
                            <label class="col-md-2 control-label"><b>Formulas:</b></label>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Perimeter (p)</label>
                            <div class="col-md-3">
                                <input type="text" class="form-control " ng-model="formData.partFormulae.perimeter" placeholder="">
                            </div>
                            <label class="col-md-2 control-label">Sheet Metal Area</label>
                            <div class="col-md-3">
                                <input type="text" class="form-control " ng-model="formData.partFormulae.sheetMetalArea" placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Surface Area</label>
                            <div class="col-md-3">
                                <input type="text" class="form-control " ng-model="formData.partFormulae.surfaceArea" placeholder="">
                            </div>
                            <label class="col-md-2 control-label">Weight</label>
                            <div class="col-md-3">
                                <input type="text" class="form-control " ng-model="formData.partFormulae.weight" placeholder="">
                            </div>
                        </div>
                        <hr>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Naming Convention</label>
                            <div class="col-md-3">
                                <input type="text" class="form-control " ng-model="formData.namingConvenstion" placeholder="">
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-13 text-center">
                                <button type="submit" class="btn btn-circle green" ng-if="showSaveBtn" ng-click="createOrEditShape(formData,shapeVariables)">Save</button>
                                <button type="submit" class="btn btn-circle green" ng-if="showEditBtn" ng-click="createOrEditShape(formData,shapeVariables)">Update</button>
                                <button type="button" class="btn btn-circle grey-salsa btn-outline">Cancel</button>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
    </div>
</div>