<div class="row">
    <div class="col-md-3 vertical_scroll" style="height: 555px;">
        <ul class="tree">
            <li class="mainLi">
                <input type="checkbox" id="c5" />
                <label class="tree_label" for="c5"></label>
                <span class="assebmlyName">Shapes</span>
                <span ng-click="createOrEditShapeData('save')" class="assemblyCreateIcon">
                    <i class="fa fa-plus btn-info" title="Add Shape"></i>
                </span>
                <ul>
                    <li ng-repeat="sh in shapeData">
                        <span class="tree_label" class="partName" ng-click="createOrEditShapeData('update',sh)" >{{sh.shapeName | capitalize}}</span>
                        <span ng-click="createOrEditShapeData('update',sh)" class="subAssemblyEditIcon">
                            <i class="fa fa-pencil btn-warning" title="Edit Shape"></i>
                        </span>
                        <span ng-click="deleteShapeModal(sh._id,'deleteShape')" class="subAssemblyDeleteIcon">
                            <i class="fa fa-trash-o btn-danger" title="Delete Shape"></i>
                        </span>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="col-md-9" ng-include="shapeView"></div>
</div>