<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-gift"></i>Master Shape
        </div>
    </div>
    <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <form class="form-horizontal">
            <div class="form-body">
                <div class="form-group">
                    <label class="col-md-2 control-label">Shape Name:</label>
                    <div class="col-md-4">
                        <input type="text" ng-model="formData.shapeName" class="form-control input-circle" autofocus>
                    </div>
                    <label class="col-md-2 control-label">Upload Icon:</label>
                    <div class="col-md-4">
                        <upload-all-files ng-model="formData.icon.file" icon="true" pdf-file="false" file-location="left"></upload-all-files>
                    </div>
                </div>
                <hr>
                <div class="form-group">
                    <div class="col-md-4">
                        <div>
                            <!-- <img src="img/Doraemon.png" alt="" class=" img-responsive"> -->
                            <upload-all-files ng-model="formData.image.file" pdf-file="true" icon="false" file-location="top"></upload-all-files>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="form-group">
                            <label>
                                <b>Variables:</b>
                            </label>
                        </div>
                        <div class="form-group">
                            <div class="shapes-checkbox">
                                <div class="" ng-repeat="varChunk in variablesData">
                                    <div class="col-md-4" ng-repeat="var in varChunk track by $index">
                                        <!-- 
                                        {{var.varName}}
                                        <input type="checkbox" id="checkbox-f" ng-click="checkedVariable ? addVariableToShape('checked',var.varName) : addVariableToShape('unchecked',var.varName)"
                                            ng-checked="var.checkboxStatus" ng-model="checkedVariable">
                                         -->
                                        <label class="mt-checkbox mt-checkbox-single mt-checkbox-outline">{{var.varName}}
                                            <input type="checkbox" id="checkAll" ng-click="checkedVariable ? addVariableToShape('checked',var.varName) : addVariableToShape('unchecked',var.varName)"
                                            ng-checked="var.checkboxStatus" ng-model="checkedVariable" />
                                            <span></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Size Factor</label>
                            <div class="col-md-3">
                                <input type="text" class="form-control " ng-model="formData.sizeFactor" placeholder="">
                            </div>
                            <label class="col-md-3 control-label">Form Factor</label>
                            <div class="col-md-3">
                                <input type="text" class="form-control " ng-model="formData.formFactor" placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Thickness (t)</label>
                            <div class="col-md-3">
                                <input type="text" class="form-control " ng-model="formData.thickness" placeholder="">
                                <span class="unit">mm</span>
                            </div>
                            <label class="col-md-3 control-label">Length (l)</label>
                            <div class="col-md-3">
                                <input type="text" class="form-control " ng-model="formData.length" placeholder="">
                                <span class="unit">mm</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Wastage</label>
                            <div class="col-md-3">
                                <input type="text" class="form-control " ng-model="formData.wastage" placeholder="">
                                <span class="unit">%</span>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="form-group">
                    <label class="col-md-2 control-label">
                        <b>Formulas:</b>
                    </label>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Perimeter (p)</label>
                    <div class="col-md-3">
                        <input type="text" class="form-control " ng-model="formData.partFormulae.perimeter" placeholder="">
                        <span class="unit">m</span>
                    </div>
                    <label class="col-md-2 control-label">Sheet Metal Area (sma)</label>
                    <div class="col-md-3">
                        <input type="text" class="form-control " ng-model="formData.partFormulae.sheetMetalArea" placeholder="">
                        <span class="unit">sq. m</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Surface Area (sa)</label>
                    <div class="col-md-3">
                        <input type="text" class="form-control " ng-model="formData.partFormulae.surfaceArea" placeholder="">
                        <span class="unit">sq. m</span>
                    </div>
                    <label class="col-md-2 control-label">Weight (wt)</label>
                    <div class="col-md-3">
                        <input type="text" class="form-control " ng-model="formData.partFormulae.weight" placeholder="">
                        <span class="unit">kg</span>
                    </div>
                </div>
                <hr>
                <div class="form-group">
                    <label class="col-md-2 control-label">Naming Convention</label>
                    <div class="col-md-3">
                        <input type="text" class="form-control " ng-model="formData.namingConvenstion" placeholder="">
                    </div>
                </div>
            </div>
            <div class="form-actions">
                <div class="row">
                    <div class="col-md-13 text-center">
                        <button type="submit" class="btn btn-circle green" ng-if="showSaveBtn" ng-click="createOrEditShape(formData,shapeVariables)">Save</button>
                        <button type="submit" class="btn btn-circle green" ng-if="showEditBtn" ng-click="createOrEditShape(formData,shapeVariables)">Update</button>
                        <button type="button" class="btn btn-circle grey-salsa btn-outline">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
        <!-- END FORM-->
    </div>
</div>