<div class="row">
    <div class="col-md-12 mar-b">
        <div class="portlet box green ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Part Name
                </div>
                <div class="tools">
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form  class="form-horizontal" name="myForm">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-4 control-label">Part Name:<span class="error">&nbsp;&nbsp;*</span></label>
                            <div class="col-md-5" ng-if="showEditBtn">
                                <input type="text" class="form-control" ng-model="formData.partName" placeholder="Enter Part Name" autofocus required>
                            </div>
                            <div ng-if="showSaveBtn">
                                <label class="col-md-2 control-label">{{formData.partName}}</label>                                
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-circle green" ng-if="showEditBtn" ng-disabled="formData.partName == null" ng-click="editPart()">Update</button>
                                <button type="button" class="btn btn-circle grey-salsa btn-outline" ng-click="cancelModal()">Cancel</button>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
    </div>
</div>