<div class="row">
    <div class="col-md-12 mar-b">
        <div class="portlet box green ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Processing
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form class="form-horizontal">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-4 control-label">Process Type:</label>
                            <div class="col-md-5">
                                <select class="form-control " ng-model="formData.processType" autofocus required>
                                    <option>Type1</option>
                                    <option>Type2</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Process Item:</label>
                            <div class="col-md-5">
                                <select class="form-control" ng-model="processItem" required>
                                    <option>Item1</option>
                                    <option>Item2</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Rate:</label>
                            <div class="col-md-5">
                                <div><label class="padd-t">895740</label> <span> <b>Rs/m</b> </span></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2"><b>Quantity -</b></label>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Key Value:</label>
                            <div class="col-md-5">
                                <div><label class="padd-t">895740</label> <span> <b>Perimeter(m)</b> </span></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Multiplication Factor:</label>
                            <div class="col-md-5">
                                <div><label class="padd-t">895740</label></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Utilization:</label>
                            <div class="col-md-5">
                                <div class="display-inline"> <input type="text" class="form-control" ng-model="formData.quantity.utilization" placeholder="100" required></div>
                                <div class="display-inline"><span>%</span></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Contigency or Wastage:</label>
                            <div class="col-md-5">
                                <div class="display-inline"> <input type="text" class="form-control" ng-model="formData.quantity.contigencyorwastage" placeholder="10" required></div>
                                <div class="display-inline"><span>%</span></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Total Quantity:</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" ng-model="formData.quantity.total" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Remark:</label>
                            <div class="col-md-5">
                                <textarea class="form-control" ng-model="formData.remarks" required>
                                </textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Total Cost:</label>
                            <div class="col-md-5">
                                <div><label class="padd-t">895740</label> <span> <b>Rs/m</b> </span></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-circle green" ng-if="showSaveBtn" ng-click="addOrEditProcessing(formData,level)">Save</button>
                                <button type="submit" class="btn btn-circle green"ng-if="showEditBtn" ng-click="addOrEditProcessing(formData,level)">Update</button>
                                <button type="button" class="btn btn-circle grey-salsa btn-outline" ng-click="cancelModal()">Cancel</button>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
    </div>
</div>