<div class="row">
    <div class="col-md-12 mar-b">
        <div class="portlet box green ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Processing
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form class="form-horizontal" name="myForm">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-4 control-label">Process Type:
                                <span class="error">&nbsp;&nbsp;*</span>
                            </label>
                            <div class="col-md-5">
                                <select class="form-control" ng-options="pt.processTypeName for pt in partProcessingObj.processingTypeData track by pt._id"
                                    ng-model="partProcessingObj.selectedProcessingType" placeholder="Select" ng-change="getSelectedProessType(partProcessingObj.selectedProcessingType)"
                                    required>
                                </select>
                            </div>
                        </div>
                        <div class="form-group" ng-if="partProcessingObj.showMulFact">
                            <label class="col-md-4 control-label">Process Item:
                                <span class="error">&nbsp;&nbsp;*</span>
                            </label>
                            <div class="col-md-5">
                                <select class="form-control" ng-options="pi.processItemName for pi in partProcessingObj.processingItemData track by pi._id"
                                    ng-model="partProcessingObj.selectedProcessingItem" placeholder="Select" ng-click="getSelectedProessItem(partProcessingObj.selectedProcessingItem)"
                                    ng-disabled="disableProcessingFields.disableProcessItem" required>
                                </select>
                            </div>
                        </div>
                        <div class="form-group" ng-if="partProcessingObj.showFields && partProcessingObj.showMulFact">
                            <label class="col-md-4 control-label">Rate:</label>
                            <div class="col-md-5 text-left">
                                <div>
                                    <label class="padd-t">{{partProcessingObj.rate.actualRate}}</label>
                                    <span>
                                        <b>{{partProcessingObj.rate.uom}}</b>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" ng-if="!partProcessingObj.showFields || !partProcessingObj.showMulFact">
                            <label class="col-md-4 control-label">Rate:
                                <span class="error">&nbsp;&nbsp;*</span>
                            </label>
                            <div class="col-md-5 text-left">
                                <input type="number" class="form-control" ng-model="partProcessingObj.rate.actualRate" name="rate" pattern="[\-\+]?[0-9]*(\.[0-9]+)?"
                                    ng-change="updateProcessingCost()" required>
                                <span class="unit">
                                    {{partProcessingObj.rate.uom}}
                                </span>
                                <span class="error" ng-show="myForm.rate.$invalid && myForm.rate.$dirty">Please enter a number or floating point number</span>
                            </div>
                        </div>
                        <div class="form-group" ng-if="partProcessingObj.showFields">
                            <label class="col-md-6 tex-right">
                                <b>Quantity -</b>
                            </label>
                        </div>
                        <div class="form-group" ng-if="partProcessingObj.showFields">
                            <label class="col-md-4 control-label">Key Value:</label>
                            <div class="col-md-5 text-left">
                                <div>
                                    <label class="padd-t">{{partProcessingObj.quantity.linkedKeyValue.keyValue}}</label>
                                    <span>
                                        <b>{{partProcessingObj.quantity.linkedKeyValue.keyVariable}} ({{partProcessingObj.selectedProcessingType.quantity.uom.uomName}})</b>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <!-- <div class="form-group">
                            <label class="col-md-4 control-label">Multiplication Factor:</label>
                            <div class="col-md-5 text-left">
                                <div>
                                    <label class="padd-t">{{partProcessingObj.quantity.mulFact}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Final UOM:</label>
                            <div class="col-md-5 text-left">
                                <div>
                                    <input type="text" class="form-control" ng-model="partProcessingObj.quantity.finalUom" placeholder="100" required>
                                </div>
                            </div>
                        </div> -->
                        <div class="form-group" ng-if="partProcessingObj.showFields">
                            <label class="col-md-4 control-label">Utilization:
                                <span class="error">&nbsp;&nbsp;*</span>
                            </label>
                            <div class="col-md-5 text-left">
                                <div class="display-inline">
                                    <input type="text" class="form-control" name="utilization" pattern="[\-\+]?[0-9]*(\.[0-9]+)?" ng-model="partProcessingObj.quantity.utilization"
                                        ng-change="updateProcessingCost()" placeholder="100" required>
                                </div>
                                <div class="display-inline">
                                    <span>%</span>
                                </div>
                                <span class="error" ng-show="myForm.utilization.$invalid && myForm.utilization.$dirty">Please enter a number or floating point number</span>
                            </div>
                        </div>
                        <div class="form-group" ng-if="partProcessingObj.showFields">
                            <label class="col-md-4 control-label">Contigency or Wastage:
                                <span class="error">&nbsp;&nbsp;*</span>
                            </label>
                            <div class="col-md-5 text-left">
                                <div class="display-inline">
                                    <input type="text" class="form-control" name="contengncyOrWastage" pattern="[\-\+]?[0-9]*(\.[0-9]+)?" ng-model="partProcessingObj.quantity.contengncyOrWastage"
                                        ng-change="updateProcessingCost()" placeholder="10" required>
                                </div>
                                <div class="display-inline">
                                    <span>%</span>
                                </div>
                                <span class="error" ng-show="myForm.contengncyOrWastage.$invalid && myForm.contengncyOrWastage.$dirty">Please enter a number or floating point number</span>
                            </div>
                        </div>
                        <div class="form-group" ng-if="partProcessingObj.showFields">
                            <label class="col-md-4 control-label">Total Quantity:
                                <span class="error">&nbsp;&nbsp;*</span>
                            </label>
                            <div class="col-md-5 text-left">
                                <input type="number" class="form-control" ng-model="partProcessingObj.quantity.totalQuantity" ng-change="updateProcessingCost()"
                                    required>
                            </div>
                        </div>
                        <div class="form-group" ng-if="!partProcessingObj.showFields">
                            <label class="col-md-4 control-label">Quantity:
                                <span class="error">&nbsp;&nbsp;*</span>
                            </label>
                            <div class="col-md-5 text-left">
                                <input type="number" class="form-control" ng-model="partProcessingObj.quantity.totalQuantity" ng-change="updateProcessingCost()"
                                    required>
                                <span class="unit">
                                    {{partProcessingObj.selectedProcessingType.quantity.uom.uomName}}
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Remark:</label>
                            <div class="col-md-5 text-left">
                                <textarea class="form-control" ng-model="partProcessingObj.remark">
                                </textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Total Cost:</label>
                            <div class="col-md-5 text-left">
                                <div>
                                    <label class="padd-t">{{partProcessingObj.totalCost.toFixed(2)}}</label>
                                    <span>
                                        <b>{{partProcessingObj.finalUom}}</b>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-circle green" ng-if="showSaveBtn" ng-click="addProcessing('save',partProcessingObj, level, subAssemblyId, partId)"
                                    ng-disabled="myForm.$invalid && myForm.$dirty || myForm.$pristine">Save</button>
                                <button type="submit" class="btn btn-circle green" ng-if="showEditBtn" ng-click="addProcessing('update',partProcessingObj, level, subAssemblyId, partId)"
                                    ng-disabled="myForm.$invalid && myForm.$dirty || myForm.$pristine">Update</button>
                                <button type="button" class="btn btn-circle grey-salsa btn-outline" ng-click="cancelModal()">Cancel</button>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
    </div>
</div>