<div class="row">
    <div class="col-md-12 mar-b">
        <div class="portlet box green ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Processing
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form class="form-horizontal">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-4 control-label">Process Type:</label>
                            <div class="col-md-5">
                                <select class="form-control" ng-options="pt.processTypeName for pt in processingObj.processingTypeData track by pt._id" ng-model="processingObj.selectedProcessingType"
                                    placeholder="Select" ng-change="getSelectedProessType(processingObj.selectedProcessingType)">
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Process Item:</label>
                            <div class="col-md-5">
                                <select class="form-control" ng-options="pi.processItemName for pi in processingObj.processingItemData track by pi._id" ng-model="processingObj.selectedProcessingItem"
                                    placeholder="Select" ng-click="getSelectedProessItem(processingObj.selectedProcessingItem)" ng-disabled="disableProcessingFields.disableProcessItem">
                                </select>
                            </div>
                        </div>
                        <pre>{{processingObj.rate}}</pre>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Rate:</label>
                            <div class="col-md-5 text-left">
                                <div>
                                    <label class="padd-t">{{processingObj.rate.actualRate}}</label>
                                    <span>
                                        <b>{{processingObj.rate.uom}}</b>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-6 tex-right">
                                <b>Quantity -</b>
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Key Value:</label>
                            <div class="col-md-5 text-left">
                                <div>
                                    <label class="padd-t">{{processingObj.quantity.linkedKeyValue}}</label>
                                    <span>
                                        <b>{{processingObj.quantity.linkedKeyValue}}</b>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Multiplication Factor:</label>
                            <div class="col-md-5 text-left">
                                <div>
                                    <label class="padd-t">{{processingObj.quantity.mulFact}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Final UOM:</label>
                            <div class="col-md-5 text-left">
                                <div>
                                    <input type="text" class="form-control" ng-model="processingObj.quantity.finalUom" placeholder="100" required>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Utilization:</label>
                            <div class="col-md-5 text-left">
                                <div class="display-inline">
                                    <input type="text" class="form-control" ng-model="processingObj.quantity.utilization" placeholder="100"
                                        required>
                                </div>
                                <div class="display-inline">
                                    <span>%</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Contigency or Wastage:</label>
                            <div class="col-md-5 text-left">
                                <div class="display-inline">
                                    <input type="text" class="form-control" ng-model="processingObj.quantity.contengncyOrWastage"
                                        placeholder="10" required>
                                </div>
                                <div class="display-inline">
                                    <span>%</span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Total Quantity:</label>
                            <div class="col-md-5 text-left">
                                <input type="text" class="form-control" ng-model="processingObj.totalQuantity" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Remark:</label>
                            <div class="col-md-5 text-left">
                                <textarea class="form-control" ng-model="processingObj.remark" required>
                                </textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Total Cost:</label>
                            <div class="col-md-5 text-left">
                                <div>
                                    <label class="padd-t">{{processingObj.totalCost}}</label>
                                    <span>
                                        <b>{{processingObj.quantity.finalUom}}</b>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-circle green" ng-if="showSaveBtn" ng-click="addProcessing(formData, level, subAssemblyId, partId)">Save</button>
                                <button type="submit" class="btn btn-circle green" ng-if="showEditBtn" ng-click="editProcessing()">Update</button>
                                <button type="button" class="btn btn-circle grey-salsa btn-outline" ng-click="cancelModal()">Cancel</button>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
    </div>
</div>