<div class="row">
    <div class="col-md-12 mar-b">
        <div class="portlet box green ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Custom Material
                </div>
                <div class="tools">
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form action="#" class="form-horizontal">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-3 "><b>Base Plate:</b></label>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Thickness(mm):</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" autofocus required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Base Metal:</label>
                            <div class="col-md-5">
                                <select class="form-control">
                                    <option>BM1</option>
                                    <option>BM2</option>
                                    <option>BM3</option>
                                    <option>BM4</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 "><b>HardFacing Alloy:</b></label>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Thickness(mm):</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Alloy :</label>
                            <div class="col-md-5">
                                <select class="form-control">
                                    <option>A1</option>
                                    <option>A2</option>
                                    <option>A3</option>
                                    <option>A4</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Cost Of Deposi (Rs/kg):</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control"  required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Cost Of Deposi (Rs/m<sup>2</sup>):</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-5 col-md-offset-4">
                                <button id="sample_editable_1_new" class="btn green"> Add More </button>
                            </div>
                        </div>
                       <div class="form-group">
                            <label class="col-md-4 control-label">MulFact:</label>
                            <div class="col-md-5">
                                <select class="form-control">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Cost Of Deposi (Rs/kg):</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control"  required>
                            </div>
                        </div>
                      <div class="form-group">
                            <label class="col-md-4 control-label">Cost Of Deposi (Rs/m<sup>2</sup>):</label>
                            <div class="col-md-5">
                                <input type="text" class="form-control"  required>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-circle green" ng-if="showSaveBtn" ng-click="addOrEditCustomerMaterial(formData)">Save</button>
                                <button type="submit" class="btn btn-circle green" ng-if="showEditBtn" ng-click="addOrEditCustomerMaterial(formData)">Update</button>
                                <button type="button" class="btn btn-circle grey-salsa btn-outline" ng-click="cancelModal()">Cancel</button>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
    </div>
</div>