<div class="row">
    <div class="col-md-12 mar-b">
        <div class="portlet box green ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Custom Material
                </div>
                <div class="tools">
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form class="form-horizontal">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-3 ">
                                <b>Base Plate:</b>
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Thickness(mm): </label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" ng-model="customMaterialData.thickness" autofocus>
                            </div>
                            <label class="col-md-2 control-label">Free Issue: </label>
                            <div class="col-md-1">
                                <input type="checkbox" class="form-control" ng-model="customMaterialData.freeIssue">
                            </div>
                            <div class="col-md-1"></div>
                            <label class="col-md-2 control-label ">Base Metal: </label>
                            <div class="col-md-2">
                                <select class="form-control" ng-model="customMaterialData.baseMetal">
                                    <option>BM1</option>
                                    <option>BM2</option>
                                    <option>BM3</option>
                                    <option>BM4</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 ">
                                <b>HardFacing Alloy: </b>
                            </label>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3">Thickness(mm): </label>
                            <label class="col-md-3">Alloy: </label>
                            <label class="col-md-3">Cost Of Deposit (Rs/kg): </label>
                            <label class="col-md-3">Cost Of Deposit (Rs/m
                                <sup>2</sup>): </label>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                <input type="text" ng-model="customMaterialData.hardFacingAlloys.thickness" class="form-control" >
                            </div>
                            <div class="col-md-3">
                                <select class="form-control" ng-model="customMaterialData.hardFacingAlloys.alloy">
                                    <option>A1</option>
                                    <option>A2</option>
                                    <option>A3</option>
                                    <option>A4</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control" ng-model="customMaterialData.hardFacingAlloys.codPerKg" >
                            </div>
                            <div class="col-md-3">
                                <input type="text" class="form-control" ng-model="customMaterialData.hardFacingAlloys.codPerMeterSquare" >
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <button id="sample_editable_1_new" class="btn green" ng-click="addHardFacingAlloy(customMaterialData.hardFacingAlloys)">
                                Add More </button>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">MulFact: </label>
                            <div class="col-md-2">
                                <select class="form-control" ng-model="customMaterialData.mulFact">
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                </select>
                            </div>
                            <label class="col-md-2 control-label">Cost Of Deposit (Rs/kg): </label>
                            <div class="col-md-2">
                                <input type="text" class="form-control" ng-model="customMaterialData.codPerKg" >
                            </div>
                            <label class="col-md-2 control-label  pull-left">Cost Of Deposit (Rs/m
                                <sup>2</sup>): </label>
                            <div class="col-md-2 pull-left">
                                <input type="text" class="form-control" ng-model="customMaterialData.codPerMeterSquare" >
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-12">
                                <button type="button" class="btn btn-circle green" ng-if="showSaveBtn" ng-click="addOrEditCustomMaterial(customMaterialData)">Save</button>
                                <button type="button" class="btn btn-circle green" ng-if="showEditBtn" ng-click="addOrEditCustomMaterial(customMaterialData)">Update</button>
                                <button type="button" class="btn btn-circle grey-salsa btn-outline" ng-click="cancelModal()">Cancel</button>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
    </div>
</div>