<div class="row">
    <div class="col-md-12 mar-b">
        <div class="portlet box green ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Sub Assembly Name
                </div>
                <div class="tools">
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form class="form-horizontal" name="myForm">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-4 control-label">Enter Sub Assembly Name:
                                <span class="error">*</span>
                            </label>
                            <div class="col-md-5">
                                <input type="text" class="form-control" ng-model="formData.subAssemblyName" placeholder="Enter Sub Assembly Name" autofocus required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Quantity:
                                <span class="error">&nbsp;&nbsp;*</span>
                            </label>
                            <div class="col-md-5">
                                <input type="number" class="form-control" ng-model="formData.quantity" placeholder="1">
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-circle green" ng-if="showEditBtn" ng-disabled="formData.subAssemblyName == null || myForm.$pristine"
                                    ng-click="editSubAssembly(formData.subAssemblyNumber, formData.quantity)">Update</button>
                                <button type="submit" class="btn btn-circle green" ng-if="showSaveBtn" ng-disabled="formData.subAssemblyName == null || myForm.$pristine"
                                    ng-click="addSubAssembly(formData)">Save</button>
                                <button type="button" class="btn btn-circle grey-salsa btn-outline" ng-click="cancelModal()">Cancel</button>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
    </div>
</div>