<div class="row">
    <div class="col-md-12 mar-b">
        <div class="portlet box green ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-gift"></i>Custom Material Name
                </div>
                <div class="tools">
                </div>
            </div>
            <div class="portlet-body form">
                <!-- BEGIN FORM-->
                <form class="form-horizontal">
                    <div class="form-body">
                        <div class="form-group">
                            <label class="col-md-5 control-label">Select Custom Material :<br><br>
                                <span><b>Note:</b> To select multiple Difficulty Factors Press <b>'Ctrl Key'</b>.</span>                                
                            </label>
                            <div class="col-md-5">
                                <!-- <select class="form-control" ng-options="c.customMaterialName for c in allCustMat" ng-model="customMat" autofocus required>
                                </select> -->
                                <select multiple class="form-control" ng-options="c.customMaterialName for c in allCustMat track by $index" ng-model="customMat">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <div class="row">
                            <div class="col-md-12">
                                <button type="submit" ng-disabled="customMat == null" class="btn btn-circle green" ng-click="importCustomMaterial(customMat)">Save</button>
                                <button type="button" class="btn btn-circle grey-salsa btn-outline" ng-click="cancelModal()">Cancel</button>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
            </div>
        </div>
    </div>
</div>